
:root {
    --color0 : #000000;
    --color1 : #BF2228;
    --color2 : #FFD52D;
    --color3 : #005dac;
    --color4 : #4A8A78;
    --text_color :  var(--color0);
    --current_color : var(--color1);
  }


.color_home{ --current_color :var(--color1);  }
.color_plateforme{ --current_color : var(--color2); }
.color_recherche{ --current_color : var(--color3); }
.color_mshb{ --current_color : var(--color4); }


svg .colorpoint{ fill: var(--current_color); }

/* FONT FACES */

@font-face {  font-family: campton_light; src: url(https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/font/Campton/Rene.Bieder_Campton.Light.otf); }
@font-face {  font-family: campton_regular; src: url(https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/font/Campton/Rene.Bieder_Campton.Book.otf); }
@font-face {  font-family: campton_medium; src: url(https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/font/Campton/Rene.Bieder_Campton.Medium.otf); }
@font-face {  font-family: campton_semibold; src: url(https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/font/Campton/Rene.Bieder_Campton.SemiBold.otf); }
@font-face {  font-family: campton_bold; src: url(https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/font/Campton/Rene.Bieder_Campton.Bold.otf); }
@font-face {  font-family: lora_regular; src: url(https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/font/Lora/Lora-Regular.ttf); }
@font-face {  font-family: lora_bold; src: url(https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/font/Lora/Lora-Bold.ttf); }

@import url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/mshb_s.css");
@import url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/mshb_m.css");



.bandeau{  width: 100%; height: 100%; position: absolute; border:2px oslid red }
.bandeau_svg{ width: 100%; height: 100%; background-color: var(--svg_bg_color); mix-blend-mode: screen;  }
.bandeau_svg circle {   fill: var(--svg_pt_color)  }
.bandeau_svg circle:nth-child(3n+2) {  opacity: 0.6; }
.bandeau_svg circle:nth-child(3n+3) {  opacity: 0.8; }


/* ROOT */


body { font-family: lora_regular; font-size: 16px;  letter-spacing: 0.02em }
div{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {  font-family: campton_bold; letter-spacing: 0.015em; color: #000; margin-top: 0.5em;  margin-bottom: 0.5em; }
::selection { outline: none; background:rgba(0,0,0,0.1) }
img:focus, div:focus{ outline: none;  }

img{ max-width: 100%;  height: auto }
h1{  text-align: center; font-size: 42px; line-height: 1.2em; margin-top: 0; font-weight: normal; letter-spacing: 0.05em }
h2{ font-size: 30px; line-height: 32px; font-weight: normal; }
h2[id^="content"]{ top: 0; margin-top: 0; }
h3{ font-size: 26px; line-height: 32px; font-weight: normal; }
h4{ font-size: 16px; line-height: 20px; font-weight: normal;}
h5{ font-size: 20px; line-height: 24px; font-weight: normal; }
h6{ font-size: 16px; line-height: 24px; font-weight: normal; }
p{ font-family: lora_regular; display: block;  margin-before: 0em;   margin-after: 0em;   margin-start: 0px;  margin-end: 0px; font-size: 16px; margin: 0em 0 0.8em 0; line-height: 24px;  color: #333; line-height: 1.5em;  text-align: left;}
ul{ margin: 0; padding: 0; }
li{ list-style: none; padding-bottom: 0.3em; margin-left: 1em;}
/*strong{ font-family: campton_bold; }*/

.colored{  color: var(--current_color); }

/* GLOBAL TYPOGRAPHY      */

.titre { font-size: 36px; line-height: 1.2em;   text-transform: uppercase; color: #333;  margin: 0px auto 80px auto;  display: table;  }
.titre_underscore { font-size: 42px; line-height: 1.2em;   text-transform: uppercase; color: #222;  margin: 0px auto 80px auto;  display: table;  border-bottom: 3px solid #0cb4ce;  padding-bottom: 10px;}
.underscore{ border-bottom: 2px solid  #3c4fbc; padding-bottom: 2px; display: inline }
.texte1{ font-size: 32px; line-height: 1.4em }
.texte2{ font-size: 20px; line-height: 1.5em }
.texte3{ font-size: 16px; line-height: 1.5em }
.texte4{  color: #646464 }
.bold{ font-family: lora_bold; }
.maj{ text-transform: uppercase; }
.text_right{ text-align: right;  }
.float_right{ float: right;  }

.exergue{ font-size: 24px; font-family: campton_light; color: var(--current_color);   padding-right: 20%;}
.center{ text-align: center }
.ul_underline{ text-transform: uppercase; font-size: 18px; font-family: campton_bold;  margin:none;}
.ul_underline li{ height: 1.6em; list-style: none; margin-left: 0;}
.ul_underline span{  border-bottom: 2px solid var(--current_color); display: inline; }
.ul_points li{ margin-top: 0.5em; list-style: disc; }
.bg_colored{ font-size: 18px; font-family: campton_regular }
.bg_colored li{ display: inline; padding: 5px 7px 0 7px; margin:5px; line-height: 2em; color: #fff;   background: var(--current_color);  }
.illus_header{ width: 100%; height: 520px; }
.campton_maj{ font-family: campton_medium; text-transform: uppercase }
.premier_plan{ z-index: 1000 }
.titre_guideline h2{ font-size: 14px;  font-family: campton_medium;color: #666; text-transform: uppercase; }
.titre_guideline{ border-bottom: 1px solid #000 }
/* GLOBAL LAYOUT */

section, .section{ width: 100%;margin-bottom: 20px;    }
.container{ max-width: 90%; padding: 40px 0 0px 0; }
.container_navbar, .navbar{ width: 100%; max-width: 1200px; margin: 0px auto; position: absolute; }
.global_contour{ border: 6px solid var(--current_color);  width: 100%; max-width: 1200px;  margin: 150px auto 0px auto;  padding-bottom: 80px }
.col-md-4 {padding: 0px 20px;}



/* LINKS */

a{ color: var(--text_color); outline: none; }
a:focus, a:hover { outline: none; text-decoration: none; color: var(--current_color); }
p > a{ color: var(--text_color); text-decoration: none }
p > a:hover{ color: var(--text_color); background: none; cursor: pointer; }

.liste_color_link li{  padding: 0px 7px 0 7px; margin: 3px 0; line-height: 2em; display: inline-block;   }
a.color_link{ transition: all .1s ease-out; }

.color_mshb a.color_link{ font-size: 14px; font-family: campton_regular; border: 2px solid var(--current_color); border-top: none; display: inline-block;  padding: 2px 7px 0 5px; margin:0px; line-height: 1.4em; color: #fff;   background: #5da9dd; }
.color_mshb a.color_link:hover{ background: #fff; color: var(--current_color) }

.container p a, .container li a{  color: inherit;  border-bottom: 2px solid var(--current_color); }
.container p a:hover , .container li a:hover{   color:var(--current_color); }
.poles-menu li a{ border:none;  }
a[href^="mailto"]{ border:none; }

a.lien_externe {  }
a.liensiteext, a.liensiteext:hover {  border:none!important;  }
a.liensite, a.liensite:hover{  border:none!important;  }

/* ensavoirplus */
a.ensavoirplus{ transition: all .1s ease-out; font-size: 14px; font-family: campton_regular; border: 2px solid var(--current_color)!important; display: inline-block;   padding: 2px 7px 0 5px; margin:15px 0; line-height: 1.4em; color: #fff;   background: var(--current_color)!important;; }
a.ensavoirplus:hover{ background: #fff!important; color: var(--current_color) }
.color_plateforme .container a.ensavoirplus {color:#000;  }
.color_plateforme .container a.ensavoirplus:hover{  color: #000 }


a.bloc-actus-liste-suite{  transition: all .1s ease-out; font-size: 14px; font-family: campton_regular; border: 2px solid var(--current_color)!important; display: inline-block;   padding: 2px 7px 0 5px; margin:15px 0; line-height: 1.4em; color: #fff;   background: var(--current_color)!important;; }
a.bloc-actus-liste-suite:hover{ background: #fff!important; color: var(--current_color) }

/* HEADER */

.container_header{  display: flex;  flex-flow: column;  justify-content: center; min-height: 480px; opacity: 0; animation: fadeIn .2s ease-in 0s 1 normal forwards;  position: relative; padding-top: 0px; width: 100%; max-width: 1200px; margin: 0px auto 0 auto; }
.container_header h1 {  line-height: 1;  margin: 0; font-family: campton_semibold;    font-size: 80px;    color: #fff;   letter-spacing: .02em; }

.container_header p{ opacity: 0; animation: fadeIn 1s ease-in 0.6s 1 normal forwards; z-index: 10; text-align: center; line-height: 36px; margin:20px 0px 0 0; padding: 0 15%; color: #fff; }
.container_header span.sstitre{ position: relative; z-index: 10;font-family: campton_medium;  font-size: 30px; height: 1em; text-align: center; color: #fff }
.container_header img{ z-index: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }

.color_plateforme .container_header img{  opacity: 0.2; }

.container_header .fil_ariane{ font-family: campton_regular; position: absolute; top: 20px; left: 20px; font-size: 12px; color: #fff }
.container_header .fil_ariane a{ font-family: campton_regular; color: #fff }
.container_header .fil_ariane a:hover{ text-decoration: underline; }
.container_header .fil_ariane .fil_ariane_span{ font-family: campton_regular; color: #fff }
.container_header .points{ z-index: 1; opacity: 0.6 }



/* BANDEAUX */

.header_bg{ z-index: 0; background-image: url("img/bandeaux/000.png"); background-size: cover; background-position: center; width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0  }
.container_header img{ opacity: 0.5 }
.container_header .header_points_01{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/001.png"); background-size: cover; background-position: center;  }
.container_header .header_points_02{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/002.png"); background-size: cover; background-position: center;  }
.container_header .header_points_03{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/003.png"); background-size: cover; background-position: center;  }

.container_header .header_points_04{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/004.png"); background-size: cover; background-position: center;  }
.container_header .header_points_05{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/005.png"); background-size: cover; background-position: center;  }
.container_header .header_points_06{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/006.png"); background-size: cover; background-position: center;  }

.container_header .header_points_07{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/007.png"); background-size: cover; background-position: center; opacity: 0.3 }
.container_header .header_points_08{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/008.png"); background-size: cover; background-position: center; opacity: 0.3  }
.container_header .header_points_09{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/009.png"); background-size: cover; background-position: center; opacity: 0.3  }

.container_header .header_points_10{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/010.png"); background-size: cover; background-position: center; opacity: 0.5 }
.container_header .header_points_11{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/011.png"); background-size: cover; background-position: center; opacity: 0.5  }
.container_header  .header_points_12{ background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux/012.png"); background-size: cover; background-position: center; opacity: 0.5  }

/*  LAYOUT */

.page-plateformes-mshb .col-md-12{ padding: 0 5% }
.slick-slide {text-align: center; margin-bottom: 20px; max-height: 450px; overflow: hidden; }
.slick-slide img{ margin: auto; width: 100% }
.node-type-contenu-plateformes-communaute .col-md-3{ margin-bottom: 40px;}
.entete_image{ height: 140px; overflow: hidden; margin: 0}
.entete_image img{ width: 100%; height: auto; max-height: none; margin: 0 }

.poles-menu li { transition:all 0.3s; border: 2px solid var(--current_color); cursor: pointer;  margin: 5px !important; padding: 3px 8px 1px 8px !important; }
.poles-menu li:hover  { background: var(--current_color);}
.poles-menu li:hover a{ color: #fff !important; padding: 0;  }


.container ul.poles-menu {  padding: 40px; margin: 0; z-index: 10 }


#returnOnTop{ background: url("images/haut_page.png") !important; background-size: 100% auto  !important}


.global_contour{ border-color: var(--current_color); }
.container_header{ background-color: var(--current_color); }
.fil_ariane{ background-color: var(--current_color); padding: 3px; }




.header_points{  position: absolute; background-size: cover; background-position: center; opacity: 0.6; width: 100%; height: 100%; top:0; left: 0;  }



.color_home .container_header h1{  }
.color_home .container_titre span { border-bottom: 3px solid var(--current_color); }
.color_home .navbar-default .navbar-right li a:hover{ color: #000 }




/*
.color_plateforme .container a.ensavoirplus {color:#000;  }
.color_plateforme .container a.ensavoirplus:hover{  color: #000 } */

.color_plateforme .container_titre span { border-bottom: 3px solid var(--current_color); }
.color_plateforme .navbar-default .navbar-right li a:hover{ color: #000 }
.color_plateforme .poles-menu li  { border: 2px solid var(--current_color) !important }
.color_plateforme .poles-menu li:hover  { background: var(--current_color); color:  #000}
.color_plateforme .poles-menu li:hover a { color:  #000 !important}
.color_plateforme .container div.acteur-image-container {
display:flex;
justify-content: center;
align-items: center;
}
.color_plateforme .container div.acteur-title {
border: 1px solid #7f7f7f;
display: block;
font-weight: bold;
position: absolute;
width: 60%;
text-align: center;
background-color:
#fff;
font-family: campton_bold;
padding: 4px 5px 2px;
}


.color_recherche .container_titre span { border-bottom: 3px solid var(--current_color); }
.color_recherche .navbar-default .navbar-right li a:hover{ color: #000 }
.color_recherche .poles-menu li  { border: 2px solid var(--current_color) !important }
.color_recherche .poles-menu li:hover  { background: var(--current_color);}

.color_recherche .form_mshb button { border: 2px solid var(--current_color); color: var(--current_color); }
.color_recherche button { border: 2px solid var(--current_color); color: var(--current_color); }
.color_recherche .form_mshb button:hover, .color_recherche .form_mshb button.sel  { background: var(--current_color); color: #fff; border: 2px solid var(--current_color); }
.color_recherche .form_mshb .form-champs-recherche input.txtRechForm {  border: 2px solid var(--current_color) !important; color: var(--current_color) ;  }
.color_recherche .form_mshb .form-champs-recherche input.subForm, .form-general-recherche .form-champs-recherche input.resetForm{  background: var(--current_color) !important;  border: 2px solid var(--current_color) !important; }
.color_recherche .btn-projets-tri-sel { background: var(--current_color) !important;; }


.color_mshb .container_titre span { border-bottom: 3px solid var(--current_color); }
.color_mshb a.color_link{  border: 2px solid var(--current_color); background: var(--current_color); }
.color_mshb a.color_link:hover{ color: var(--current_color) }
.color_mshb .navbar-default .navbar-right li a:hover{ color: #000 }
.color_mshb .poles-menu li  { border: 2px solid var(--current_color) !important }
.color_mshb .poles-menu li:hover  { background: var(--current_color);}

a.liensiteglob {color: var(--current_color);}

.footer_bg{ background: var(--current_color); opacity: 1}

/* RECHERCHE */

.bloc-projets-ordre{ display: none !important ; }


/* HOME */

.encart_home{margin:20px 0;}
.encart_home.border{padding-top:15px; border-top:2px solid var(--current_color);}
.encart_home.hauteur_fixe{min-height: 400px}
.encart_home h2{text-align: center;line-height: 32px;margin-bottom: 0px;}
.encart_home, .encart_home p, .encart_home span{font-family: campton;font-weight: 200;font-size:16px;line-height:20px}
.encart_home.text14, .encart_home.text14 p, .encart_home.text14 span{font-size:14px;line-height:20px}
.encart_home p{margin:0;}
.encart_home a.voirtout{text-align: center;font-size: 12px;color: grey;text-decoration: underline;display: block;font-family: campton;font-weight: 100;}
.encart_home .bloc{width:100%;height:167px;background:no-repeat center center grey;background-size:cover;margin: 25px 0 15px;}

.bloc.agenda .date{color:#FFF;text-align: center;display:block;font-family: campton;font-weight: 700;font-size:20px;line-height:24px}
.bloc.agenda .date.jours{font-size: 38px;line-height: 32px;padding-top: 60px;font-weight: 500;}

.bloc.projet {background-color:#FFF;background-size: 175%}
.bloc.projet div.titre_projet{padding-top: 50px;text-align: center;}
.bloc.projet .pole{    background-color: #000;color: #FFF;text-align: center;font-family: campton;font-weight: 500;font-size: 16px;line-height: 34px;padding: 3px 7px 1px;}
.bloc.projet .acronyme{background-color: #FFF;color: #000;text-transform: uppercase;font-size: 20px;line-height: 20px;font-weight: 500;padding: 5px 5px 2px;border: 1px solid #000;}
.bloc.medias .icon_medias{width:100%;height: 100%;}

span.bold{font-weight: 500;}


body form.mj-form .mj-embedded.mj-vertical{ padding:0 }



/* .container-bloc-home a:hover{ color: var(--current_color); } */
.container-bloc-home .row{ margin-bottom: 40px; }
.container-bloc-home h3{ text-align: center;  padding-bottom: 10px; margin-bottom: 0; }
/* .container-bloc-home p a{ font-family: campton; margin-top: 20px; font-size: 14px;   color: #FFF;   border: 3px solid #c33932 ; background-color: #c33932;  padding: 3px 5px 2px 5px;  margin-top: 20px; display: inline-block;  }
.container-bloc-home p a:hover{ color: var(--current_color);   background-color: #fff;   } */
.container_header_home{ overflow: hidden; max-height: 475px; }
.bloc-home-actus .projet_item div,
.bloc-home-agenda-date{ margin-bottom: 10px; width: 100%; height: auto;  }
.bloc-home-agenda-date { padding: 10px; }
.bloc-home-recherche-titre{ margin-top: 10px; }
.bloc-home-recherche-img{ background: url("images/bandeaux/002.png") var(--current_color); background-size: 200% auto; background-position: center; margin-bottom: 10px; }
.bloc-home-service-img{ background: url('images/visuel_batiment.jpg') top left no-repeat; background-size: 100% auto; margin-bottom: 10px; }
.container-bloc-home input{ margin: 0; display: inline; width: 160px; border: 2px solid #c33932 !important; padding: 7px 10px 4px 10px }
.container-bloc-home input[type=submit] { display: inline;  width: auto; border: 2px solid #c33932 !important ; background: #c33932; color: #fff; padding: 7px 5px 4px 5px; margin: 0 -8px;  }

.bloc-home-agenda-date .bloc-agenda-liste-jour{ font-family: campton_semibold; }

.container-bloc-home .projet_item{ border-top: 3px solid var(--current_color); }

.container-bloc-home .bloc-home-actus-titre{ font-size: 16px; }
.container-bloc-home a.ensavoirplus {  transition: all .1s ease-out; font-size: 12px; font-family: campton_regular;  color: var(--text_color); text-transform: none ; margin-left: 1em ; background: none!important;; border:none!important;;  border-bottom: 2px solid var(--current_color)!important;;  }
.bloc-home-actus-titre a{ font-size: 16px; }
body form.mj-form .mj-embedded.mj-vertical {  padding: 0px !important; }


/* ACTUALITÉS liste */

.page-actualites-mshb .col-md-12 { width: 100%; display: flex; flex-flow: wrap; justify-content: space-between;  }
.page-actualites-mshb .bloc-actus-liste{ width: 30%; display: flex; flex-direction: column;   }
.page-actualites-mshb .bloc-actus-liste .actus-liste-txt{  display: none; display: flex; flex-direction: column; }
.page-actualites-mshb .bloc-actus-liste .col-md-6 { width: 100%; }
.page-actualites-mshb .bloc-actus-liste .actus-liste-txt{ font-size:12px;  }
.page-actualites-mshb .bloc-actus-liste .image_bandeau_type-0{  }
.page-actualites-mshb .bloc-actus-liste-suite{ float: left!important; }
.page-actualites-mshb .actus-liste-type{ color:var(--current_color); margin: 1em 0; }
.page-actualites-mshb .bloc-actus-liste .actus-liste-titre {   }
.page-actualites-mshb .image_bandeau_type-0{ width:100%; max-width: 100%; }
.page-actualites-mshb .bloc-actus-liste .bloc-social{ display: none; }
.page-actualites-mshb .bloc-actus-liste { margin: 30px 0 80px !important;  }
.page-actualites-mshb .bloc-actus-liste .actus-liste-titre { font-size: 20px!important; text-align: center; color: #000; font-family: campton_bold; line-height: 22px; margin: 1em 0; padding: 0px; }
.page-actualites-mshb .bloc-actus-liste .bloc-social { margin-top: 15px; }
.page-actualites-mshb .bloc-actus-liste .img{ display: none; }
.bloc-actus-liste #image_bandeau{ display: none; }

/* AGENDA liste */

.bloc-agenda-liste .agenda-liste-titre { font-size: 20px  !important; text-align: center; color: #000; font-family: campton_bold; line-height: 22px; margin: 20px 0 10px; padding: 0 40px; }
.agenda-liste-date {color: #FFF;text-align: center;padding: 35px 15px;font-family: campton_regular;}
.agenda-liste-date .bloc-agenda-liste-jour {font-size: 3em  !important;line-height: 0.8;font-family: campton_semibold;}
.agenda-liste-date .bloc-agenda-liste-mois {font-size: 16px  !important;}
.agenda-liste-date .bloc-agenda-liste-lieu{font-size: 0.8em;}

.page-agenda-mshb .col-md-12 { width: 100%; display: flex; flex-flow: wrap; justify-content: space-between;   }
.page-agenda-mshb .bloc-agenda-liste{ width: 30%; display: flex; flex-direction: column;   }
.page-agenda-mshb .bloc-agenda-liste .agenda-liste-txt{  display: none; display: flex; flex-direction: column; }
.page-agenda-mshb .bloc-agenda-liste .col-md-6 { width: 100%; }
.page-agenda-mshb .bloc-agenda-liste .agenda-liste-txt{ font-size:12px;  }
.page-agenda-mshb .bloc-agenda-liste .image_bandeau_type-0{  }
.page-agenda-mshb .bloc-agenda-liste-suite{ float: left!important; }
.page-agenda-mshb .agenda-liste-type{ color:var(--current_color); margin: 1em 0; }
.page-agenda-mshb .bloc-agenda-liste .agenda-liste-titre {   }
.page-agenda-mshb .image_bandeau_type-0{ width:100%; max-width: 100%; }
.page-agenda-mshb .bloc-agenda-liste .bloc-social{ display: none; }
.page-agenda-mshb .bloc-agenda-liste { margin: 30px 0 80px !important;  }
.page-agenda-mshb .bloc-agenda-liste .agenda-liste-titre { font-size: 20px!important; text-align: center; color: #000; font-family: campton_bold; line-height: 22px; margin: 1em 0; padding: 0px; }
.page-agenda-mshb .bloc-agenda-liste .bloc-social { margin-top: 15px; }
.page-agenda-mshb .bloc-agenda-liste .img{ display: none; }


/* MEDIAS */





.actus-liste-pagination a{   font-family: campton; margin-top: 20px; font-size: 14px;   color: #FFF;   border: 3px solid #c33932 ; background-color: #c33932;  padding: 3px 5px 2px 5px;  margin-top: 20px; display: inline-block;  }
.medias-liste-image{ margin-top:40px; height: 100px; overflow: hidden; background: url("images/bandeaux/002.png") rgba(0,0,0,0.3); background-size: 200% auto; background-position: center; margin-bottom: 10px;  }
.medias-liste-image img{ opacity: 0.8; transition: all .3s ; }
.medias-liste-image:hover img{ opacity: 1 }

.medias-liste-titre {  font-family: lora_regular; font-size: 10px }
.medias-liste-titre a{  font-family: campton_medium; font-size: 1.8em; margin: 5px 0; display: block; }

.container_header { overflow: hidden; }
.bloc-medias-liste-suite{
    background: none;
    color: #c33932;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: campton_regular;
    font-weight: bold;
    border: none;
    text-decoration: none !important;
    font-size: 0.7em;
}
.bloc-medias-single-date span { border-bottom: 2px solid #c33932 !important;  }
.bloc-labo-list-pagi a:hover{color: white; margin-top: 20px; color: #FFF !important;  background-color: #c33932;  }
.bloc-labo-list-pagi a{ font-family: campton; font-size: 14px;   border: 3px solid #c33932;  color: #c33932; background-color: #fff;  padding: 3px 8px 2px 8px;  margin-top: 20px;  display: inline-block;}

.row-centered h3{ text-align: center }


/* TITRE */
.container_titre{ display: table; text-align: center; margin: 0 auto }
.container_titre h1, .container_titre h2, .container_titre h3{ font-family: campton_semibold; font-size: 80px; line-height: 90px; text-align: center; letter-spacing: -0.02em;  margin-left:15%; margin-right:15%; width: 70%; margin-bottom: 80px; letter-spacing: 0.02em }
.container_titre h2[id^="content"], .container_titre h1[id^="content"] { font-family: campton_semibold; font-size: 50px; line-height: 1.4em; text-align: center; letter-spacing: -0.02em; margin-left:15%; margin-right:15%; width: 70%; letter-spacing: 0.02em }
.container_titre p{ text-align: center; line-height: 36px; margin:0 8%; }
.container_titre span{ font-family: campton_regular;  font-size: 30px;  border-bottom: 3px solid #5da9dd; letter-spacing: 0.01em; line-height: 1.4em; text-align: center; color: #111 }

.page-poles-recherche-mshb h2[id^="pole"] { line-height: 1.2em;  border-bottom: 3px solid var(--current_color); margin-bottom: 0.5em; }



/* NAVBAR */
.navbar{  opacity: 0; animation: fadeIn .3s ease-in 0.2s 1 normal forwards; background: #fff; border: none;  font-family: campton_regular; }

.navbar_extended .navbar{ height: 140px; transition: all .3s;  }
.navbar_extended .navbar_condensed_logo{ display: none; opacity: 0; }
.navbar_extended .navbar_extended_logo{ display: block; opacity: 1; }
.navbar_extended .navbar-left { top: 85px; }

.navbar_condensed .navbar{ height: 100px; position: fixed; background: #fff;  }
.navbar_condensed .navbar_extended_logo{ display: none; opacity: 0; }
.navbar_condensed .navbar_condensed_logo{ display: block; opacity:1; max-height: 100%; }
.navbar_condensed .navbar-brand{ margin: 12px 0 0 20px; height: 26px; width: 280px; padding: 0; }
.navbar_condensed .navbar-left { top: 12px; left: 160px !important;}

.navbar-brand{  }
.navbar_extended .navbar-brand{ position: relative;  margin: 15px 0 0 20px; padding:0; height: 110px; width: 280px;   }
.navbar_extended .navbar-brand svg{max-width: 100%; max-height: 100%}
.navbar_extended .navbar-brand img{  opacity: 0; animation: fadeIn 0.3s ease-in 2s 1 normal forwards; position: absolute; top: 0; left: 0;  height: 100%; margin: 0% auto;  }
.navbar_extended .navbar-brand canvas{ z-index: 2;  position: absolute; top: 0; left: 0; width:auto; height: 100%; margin: 0% auto;  }

 canvas{ opacity: 0; animation: fadeIn 0.3s ease-in 0s 1 normal forwards; }


.navbar-default .navbar-nav>li>a { color: #333; }
.navbar-default .navbar-nav>li>a:hover { color: #000; }
.navbar-nav>li>a { padding: 5px 3px; }

.navbar-left {  font-size: 14px; position: absolute; left: 340px; width: auto; margin-left: auto; margin-right: auto; }
.navbar-left  a{ margin-right: 20px }
.navbar-left  li a { color: #000; font-size: 16px;  }

.navbar-default .navbar-toggle .icon-bar {background-color: #000;height: 3px;}
.navbar-default .navbar-toggle {border: none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent;}





@media only screen and (max-width: 860px) {
  .navbar-left{ left:auto; right: 5px; }
  .navbar-left  a{ margin-right: 15px }
}



.navbar-right { position: absolute; right: 20px;  padding: 13px 20px 0 0 ; opacity: 0;  animation: fadeIn 0.2s ease-in 0.2s 1 normal forwards;  }
.navbar-right li{ float: left; text-align: right; height: 25px;  padding : 0; display: block; }
.navbar-right  a{ font-size: 12px; padding: 0 0 0 0px; float: right }
.navbar-right  a:hover{ border-bottom: 2px solid #000; }
.navbar-right  a.actif{ border-bottom: 2px solid var(--current_color); }
.navbar-right .glyphicon-class{ cursor: pointer; width: 1.6em; height: 1.6em; color:#333; display: block  }
.navbar-default .navbar-nav>.open>a, .navbar-default  .navbar-default .navbar-nav>.open>a:hover {
    background: none ;  border-bottom: 3px solid #FFF }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover  {
    background-color: #fff ;  border-bottom: 3px solid #fff }

.dropdown-menu .sub-menu {left: 100%;position: absolute;top: 0;visibility: hidden;margin-top: -1px;}
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {margin-top: 0;}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


/*  navBar annuaire */

.container_recherche .nav-tabs>li>a,
.container_recherche .nav-tabs>li>a:focus{  font-family: campton_bold;  letter-spacing: 0.015em;  color: #000;  margin-bottom: 0;  font-size: 23px;  padding-top: 0.8em;  height: 2.8em;}
.container_recherche .nav-tabs>li>a:hover { color: #666;  background: none;}
.container_recherche .nav-tabs>li.active>a>span {   border-bottom:2px solid var(--current_color);   width: 100%;  margin: auto;  display: block;}
.container_recherche .nav-tabs>li{padding-bottom: 0;  }



/* resultats annuaire */


.cercle{ width: 140px; height: 140px; border-radius: 50%; margin: 20px auto; overflow: hidden; }
.cercle img{ width: 100%; min-height: none; max-height: none; }
.bloc-chercheur-list { font-family: campton_regular;  padding-bottom: 1em; text-align: center; line-height: 1.5em !important; font-size: 12px;}
.bloc-chercheur-list:hover {  }
.bloc-chercheur-list b{ font-weight: normal; font-family: campton_bold;  font-size: 1.2em; height: 1em; display: block; }
.bloc-chercheur-list a{ display: block; text-align: center; width: 100%  }
.bloc-chercheur-list a:hover{ color: var(--current_color) ;   text-decoration: none !important; }
.bloc-chercheur-list:hover a{ color: var(--current_color) ;   text-decoration: none; }

.bloc-labo-list { font-family: campton_regular;  padding-bottom: 1em; text-align: center; line-height: 1.5em; font-size: 12px;}
.bloc-labo-list img{ width: 140px; height: 140px;margin: 20px auto; }
.bloc-labo-list:hover {  }
.bloc-labo-list b{ font-weight: normal; font-family: campton_bold;  font-size: 1.2em; height: 1em; display: table; }
.bloc-labo-list a{ display: block; }
.bloc-labo-list a:hover{ color: var(--current_color) ;   text-decoration: none; }
.bloc-labo-list:hover a{ color: var(--current_color) ;   text-decoration: none; }

.color-titre-labo{ position: absolute; top: 80px; left: 50%; margin-left: -13px; text-align: center; display: inline-block; font-size: 12px; background: var(--current_color); font-family: campton_medium;   width: 26px; height: 26px; color: white; padding-top: 5px; border-radius: 50%  }

.legende-labo-list ul{ margin-bottom: 40px; float: right; }
.legende-labo-list li{ float: left; }
.legende-labo-list .color-titre-labo{ position: relative; float: left; margin: 0 1em; display: table; top: 0px; left: 0%;  }


/* sidebar */

.sidebar{ z-index: 100; position: fixed; top: 30%; padding: 5px; right: 0; width: 40px; font-size: 10px; }
.sidebar a{  max-width: 18px; max-height: 18px; opacity: 0.8; transition: all .3s; margin: 8px auto; display: table;}
.sidebar a:hover{ opacity: 1; cursor: pointer}
.sidebar img{ width: 100%; max-height: 15px; }
/* sous-menu */

.dropdown-menu { padding-top: 10px; border: none; box-shadow: 0 18px 18px rgba(0,0,0,.175);}
.dropdown-menu a{  border-bottom: 3px solid #FFF }


.dropdown-menu > li > a:focus, .dropdown-menu > li > a {
    background: none; color: #666;
    padding-left: 10px;
    display: block;
    transition: all .3s;
    padding-left: 2px;
    padding-right: 2px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background: none; color: #000;
    padding-right: 0;

}


.dropdown-menu > li > a span{
    width: 10px;
    margin-right: 0px;
    padding-left: 10px;
    overflow: hidden;
    transition: all .3s;
    font-size: 10px;
    display: inline-block;
    box-sizing: border-box;
}
.dropdown-menu > li > a:hover span{
    width: 10px;
    margin-right: 2px;
    padding-left: 0px;
}

.lien_accueil .lien_menu_actif{ color: #000; border-bottom: 3px solid var(--current_color) }
.lien_a .lien_menu_actif{ color: #000; border-bottom: 3px solid var(--current_color) }
.lien_b .lien_menu_actif{ color: #000; border-bottom: 3px solid var(--current_color) }
.lien_c .lien_menu_actif{ color: #000; border-bottom: 3px solid var(--current_color) }
a.lien_menu{ border-bottom: 3px solid #fff }
a.lien_menu:hover{ border-bottom: 3px solid #000 }

/*.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { background: #fff ; color: #777; }

/* CONTENT */

.text_align_left *{ text-align: left }
.bloc_colored{ background: #dedede; border-radius: 5px; padding: 40px 20px 20px 20px }
.bloc_padding{ padding: 40px 20px 20px 20px }
.bloc_padding_right{ padding: 0 20px 0 0 }
.col_laterale{ padding: 80px 80px }
.col_laterale .btn{ width: 100%; }
.col-md-4 { padding: 0px 40px }
.social{ color: #333 }
.social i{ font-size: 1em; margin: 0 10px }


/* Recherche */

.pole-single-responsable .cercle { width: 80px; height: 80px; }
.modal-content { padding: 5% 8% }
.modal-header .close { border:none; }

.modal-body h1,
.modal-body h2,
.modal-body h3{ margin: 0.8em 0;  }

.btn-link{ text-align: center }
.btn-link a { margin: 0 auto; font-size: 13px; }
.btn-link a:hover{ text-decoration: none; cursor: pointer; }

/* BUTTONS */

.btn{ cursor: pointer; text-align: center;  margin: 80px 0;  white-space: normal;  border-radius: 5px; max-width: 100%; margin: 40px  auto; letter-spacing: 0.05em; color: #fff; font-size: 16px; padding: 8px 25px;}
.btn:hover{ color: #fff; }
.bouton_01{  background: #333; }
.bouton_01:hover{ background: #888; }
.bouton_02{ color:#fff; letter-spacing: 0.05em; background-color: #f4990a; }
.bouton_02:hover{ background: #f4b149;  }
.bouton_03{ background-color: #fff; color: #3c4fbc; border: 1px solid #3c4fbc;}
.bouton_03:hover{ background: #3c4fbc;  }
.bouton_04{ color: #3f51b5; font-size: 18px; margin: 0; padding: 8px 0 4px 16px; }
.bouton_04:hover{ color: #3f6ebe; text-decoration: none  }


/* FOOTER */

.footer{ font-family: campton_regular; padding: 60px 0; min-height: 100px;  }

.footer .container{ padding: 0px 0 }
.footer p{ font-size: 12px; font-family: campton_regular;}
.footer a{ color: #666 }
.footer a:hover{ color: #000 }

.footer .zone_logo_mshb { width: 80px; margin: 0 20px 0 0 ; float: left; }
.footer .zone_logo_mshb p{  text-align: center; width: 100%; }

.footer .zone_signature p{  color: #000; display: inline-block; line-height: 1.5em;  }

.footer .zone_logo{  float: right; }
.footer .zone_logo ul{ height: 50px }
.footer .zone_logo li{ height: 45px; max-width: 65px; padding: 0 2px; float: left}
.footer .zone_logo a{ border:none }
.footer .zone_logo a img{ opacity: 0.7; transition: all .3s;  max-height: 100%;  }
.footer .zone_logo a:hover img{ opacity: 1; transform: scale(1.05, 1.05) }

.footer .zone_menu{ text-align: right; width: 100%;  margin-top: 40px; display: inline-block; }
.footer .zone_menu ul{  }
.footer .zone_menu a{ border:none }
.footer .zone_menu li{ font-size: 12px; display: inline-block;  }



/* LISTING PROJETS */

.listing_projets{ position: relative; }
.projet_item{ margin: 20px auto; display: flex; flex-direction: column; justify-content: space-between;  border: 5px solid white;  border-bottom: 5px solid var(--current_color); min-height: 320px; padding: 30px;  background-size: contain;  background-image: url("https://raw.githubusercontent.com/jamelsuan/MSHB-modifs/main/img/bandeaux_projets/1/001.png");  }
.projet_item:hover p{ color :var(--color3); border: 5px solid var(--current_color); }
.projet_item p{font-size: 0.8em; }
.projet_item .projet_header{  width: 100%; text-align: center; padding: 0px; margin: 0; ; background-position: center; background-size: contain; }
.projet_item a{  border-bottom: none; }
.projet_item .bloc-projets-liste-suite {  border-bottom: none; margin:1em 0; letter-spacing: 0.01em; font-family: lora_bold; color: #000; font-size: 17px;  display: block; line-height: 1.35em;   }
.projet_item h3{ background-color :var(--color3); color:white;  display: inline-block; margin: 0; padding: .4em 1em 0.2em 1em; line-height: 1.3em;  max-width: 90%; min-height: 2em; font-size: 12px; font-family: campton_medium;   }
.projet_item h2{   display: inline-block;  margin: 0; padding: 0px 5px; line-height: 1.3em;  padding: 5px; max-width: 96%; min-height: 2em; font-size: 10px; text-transform: uppercase; font-family: campton_bold; color: var(--color0) }
.projet_item p{ color :var(--color0);  font-size: 18px;; }
.projet_item p a{  font-family: campton_bold;  }
.select_orderBy{ background: #fff; float: right; font-size: 12px; color: #666; border: none; position: absolute; right: 0px; top: 20px;  font-family: campton_regular;  }

.select_orderBy option{ line-height: 2em; padding: 5px; -webkit-appearance: none; }



/* projet */


.bloc_head_projet_details p.mytitre{ font-size: 30px; }

/* FORMS */

input {   border: 3px solid #c33932 !important }
input:focus{ outline: none }

/* DESIGN GENERAL FORMULAIRE RECHERCHE */

.outils_recherche .outils_de_recherche{

    float: left
}

.outils_de_recherche{  z-index: 1; padding: 10px 0px 2px 0px; float: right; margin-top: -40px;  font-family: campton_regular; color: #333; cursor: pointer; font-size: 14px; }
.outils_de_recherche span{ color: #c33932 }

.outils_de_recherche:hover{ color: #c33932; border-bottom: 1px solid #c33932;  }

.collapse.in { background: #000 ; z-index: 10; background: #fff; }
form{ padding: 0 }

.form_mshb  li{ margin-left: 0em;}
.form_mshb  a:hover{ color: #c33932; }
.form_mshb .lien_small a:hover{ color: #c33932; }
.form_mshb .lien_small{ font-size: 0.9em; margin-left: 15px; }
.form_mshb .lien_small { color: #999; }
.form_mshb .lien_small:hover{ color: #333; }

.intro_form_mshb{ font-size: 1em; min-height: 220px; padding: 30px 0 0 0;   }
.intro_form_mshb_min{ font-size: 0.8em; }

.form_mshb {
    background: #fff;
    z-index: 2;
    font-family: campton_regular;
    border:0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}
.form_mshb .form-champs-recherche input {
    border: 2px solid #c33932;
    padding: 8px 10px 3px 10px;
    font-size: 14px;
    line-height: 1.4em;
    color: #999;
    height: auto;
    letter-spacing: 0.02em;

}
.form_mshb .form-champs-recherche input.txtRechForm {
    width: 70%;
}
.form_mshb .form-champs-recherche input.subForm, .form-general-recherche .form-champs-recherche input.resetForm {
    background-color: #c33932;
    color:#FFF;
    text-transform:uppercase;
}

.form_mshb button {
    border: 2px solid #c33932;
    background: #fff;
    color:#c33932;
    padding: 7px 8px 4px 8px;
    margin: 0 3px 8px 0;
    letter-spacing: 0;
}

.form_mshb button:hover,  .form_mshb button.sel {
    border: 2px solid #c33932;
    background: #c33932;
    color:#fff;
}

.form_mshb .col-md-4 select{ width: 90%; }
.form_mshb .col-md-3 select{ width: 90%; }

.form_mshb select{ width: 70%; background: #fff; border-radius: 0; border: 3px solid #c33932; padding: 8px 10px 3px 10px; font-size: 14px; border-radius: 0;-webkit-appearance: none; line-height: 1.4em;color: #999; height: auto; margin: 0; margin-right: 5px; letter-spacing: 0.02em; }


form{ font-family: campton_regular; letter-spacing: 0.05em; }

input {
    border: 2px solid #c33932;
    padding: 8px 10px 3px 10px;
    font-size: 14px;
    line-height: 1.4em;
    color: #999;
    height: auto;
    letter-spacing: 0.05em; font-family: campton_regular;

}
.form-champs-recherche input.txtRechForm {
    width: 70%;
}
.form-champs-recherche input.subForm, .form-general-recherche .form-champs-recherche input.resetForm {
    background-color: #c33932;
    color:#FFF;
    text-transform:uppercase;
}

button {
    border: 2px solid #c33932;
    background: #fff;
    color:#c33932;
    padding: 7px 8px 4px 8px;
    margin: 0 3px 8px 0;
    letter-spacing: 0;
}

button:hover,  . button.sel {
    border: 2px solid #c33932;
    background: #c33932;
    color:#fff;
}



textarea,
iframe,
.form-control {
    outline: none;
    display: block;
    width: 100%; margin: 1em auto;
    border: 2px solid #ccc;
    padding: 8px 10px 3px 10px;
    font-size: 14px;
    line-height: 1.4em;
    color: #999;
    /*height: auto;*/
    letter-spacing: 0.02em;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 1em;
}


.bloc-com-embed {  padding: 0; }
.bloc-com-embed iframe,
#videoAireDu { padding: 0; border: 0; }

.webform-container-inline.webform-component-textarea {  display: block; width: 100%; margin: 0;  }

.form-textarea-wrapper{   display: table; width: 100%; margin: 0;  border: none; }
.text-format-wrapper{  display: table; width: 100%; margin: 0;  border: none; }
.webform-component {  display: table; width: 100%; margin: 0;  border: none; }
.webform-client-form  {  display: block; width: 60%; margin: 1em auto; }
.form-file{ border: none; }


select.form-control, select.form-control:focus{ width: auto; display: inline-block; padding: 12px 10px 3px 10px; border-radius: 0  }

.webform-container-inline label {  width: 100%; margin: 2em auto 0 auto;   }
label { font-family: lora_regular;  font-size: 1em;  display: block; }
.form-textarea-wrapper textarea  {
    outline: none;
    display: block;
    width: 100%; margin: 1em auto;
    border: 2px solid #ccc;
    padding: 8px 10px 3px 10px;
    font-size: 14px;
    line-height: 1.4em;
    color: #999;
    height: auto;
    letter-spacing: 0.02em;
    border-radius: 0px;
    box-shadow: none;
}



.panel { display: table; padding: 0; margin-top: 40px; border: 2px solid #c33932; }

.panel-heading, .panel-default>.panel-heading {
    margin-bottom: 0;
    background-color: #c33932;
    border: none;
    color: #fff;
    border-radius: 0px;
    padding: 10px;
    box-shadow: none;
    font-size: 3em;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] { margin-left: 0; }
.container_recherche{ padding-bottom: 0; }

.webform-submit.btn {    background-color: #c33932 !important; border: none !important; border-radius: 0; }

#edit-retour.btn, .btn-retour.btn { color: #c33932 !important; border: 2px solid #c33932 !important; background: #fff !important; border-radius: 0; }




/* ANIMATIONS */



@keyframes fadeIn {

    0% {

        opacity: 0;

    }

    100%{

        opacity: 1;

    }

}









	.container .bloc-2cols {



    display: table-cell;

    border:1px solid #fff ;



	}



/* responsive */





@media only screen and (max-width: 768px) {
	/* switch du menu : on le gÃ¨re Ã  ce stade lÃ  */

	.navbar {animation: none; opacity: 1}

	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: none; padding:0;}
	.navbar_extended .navbar,
	.navbar_condensed .navbar { height: 60px; padding: 0; margin: 0; width: 100%; }
	.navbar_extended .navbar-brand,  .navbar_condensed .navbar-brand {width: 50%; height: 30px; margin: 10px 15px;}
	.navbar_extended .navbar-brand .navbar_extended_logo,
	.navbar_condensed .navbar-brand .navbar_extended_logo,
	.navbar_extended .navbar-brand canvas{}
	.navbar_extended .navbar-brand .navbar_condensed_logo,
	.navbar_condensed .navbar-brand .navbar_condensed_logo,
	.navbar_condensed .navbar-brand img, .navbar_extended .navbar-brand img {display: block; opacity: 1; animation:none; height: 30px; margin: 0; width: auto; top: 0; left: 0; }

	.navbar-right {background: #fff ; position: relative; padding:0; text-align: center;top: 0 !important; padding-bottom: 10px; }
  .navbar-right li{text-align: center;display: inline-block;float: none}

	.navbar-left {position: relative;}
	.navbar-left .nav>li {width: 80%; display: table; height: auto; border-bottom: 2px solid #000}
	.navbar-left>li>a {padding: 20px;text-align: center;font-size: 18px; color:#000}
	.lien_a .lien_menu_actif, a.lien_menu {  border-bottom: 2px solid #000;}
  .lien_accueil .lien_menu_actif{ color: #000; border-bottom: 2px solid #000 }
  .lien_a .lien_menu_actif{ color: #000; border-bottom: 2px solid #000 }
  .lien_b .lien_menu_actif{ color: #000; border-bottom: 2px solid #000 }
  .lien_c .lien_menu_actif{ color: #000; border-bottom: 2px solid #000 }
  a.lien_menu:hover {border-bottom: 2px solid #000;}

	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {  box-shadow: 0 18px 18px rgba(0,0,0,.175); opacity: 1;  background: #fff; border: none}

	.global_contour {   margin: 80px auto 0px auto; width: 100%; overflow-x:hidden  }

	.color_home .global_contour{ border-bottom: var(--current_color); }
	.color_plateforme .global_contour{ border-color: var(--current_color); }
	.color_recherche .global_contour{ border-color: var(--current_color); }
	.color_mshb .global_contour{ border-color: var(--current_color); }

	.sidebar{ display: none }
	.navbar_extended .navbar-left, .navbar_condensed .navbar-left { margin: 0px ; top: 0; height: auto; opacity: 1; animation: none; transition:all .3s;left:0 !important; }
	.navbar-nav .dropdown .dropdown-menu { display: none;  border-radius: 0; overflow: hidden; padding: 0; box-shadow: none; }
	.navbar-nav .open .dropdown-menu {display: block; height: auto; border: none; border-bottom: 3px solid #ccc;  }
	.dropdown-menu li{ padding-bottom: 2vw; }




}



@media only screen and (max-width: 660px) {



	.container .bloc-2cols {

	column-count: auto;

    column-gap: 0px;

	}







	/* bandeau */



	.container_header { height: auto; max-width: 100%; padding-top: 40px; padding-bottom: 40px;  }

	.fil_ariane{ display: none; }

	.container_header span.sstitre { font-size: 20px; line-height: 1.4em; }





	/* content */

	p { font-size: 14px; }

	.cercle{ width: 100px; height: 100px; }

	.container_titre h1, .container_titre h2, .container_titre h3 { font-size: 50px; line-height: 1.1em;  }

	.container_header h1 {  font-size: 38px; line-height: 1.1em;  }

	.container_titre span { font-size: 20px; }

	.container_titre h2[id^="content"], .container_titre h1[id^="content"] { font-size: 30px; line-height:1.4em; }

	.poles-menu li { font-size: 0.8em; }

	.container ul.poles-menu { padding: 20px 0px; margin-top: 20px; }

	/* bullshit */



	#returnOnTop { display: none; opacity: 0; width: 0 !important; height: 0; overflow: hidden; }



	/* footer */

	.footer .zone_logo_mshb { float: none; margin: auto;   display: none; }

	.footer .zone_logo { width: 100%; margin: 10px;}

	.footer .zone_logo li {  max-width: 35px; margin: 6px 5px; display: inline-block; float: none; }

	.footer .zone_logo ul { height: auto; padding: 0; text-align: center; }

	.footer .zone_menu ul { height: auto; padding: 0; text-align: center; }

	.footer .zone_signature p { text-align: center;padding: 0 35px; }

	.footer .zone_menu { margin-top: 0; }

}
