/* STYLES BPS */

.global_contour ul li {
	font-family: lora_regular !important;
}

#admin-menu {
	z-index:10000;
}

.global_contour ul li {
	margin-top: 0.5em;
	list-style: disc;
}
.global_contour #planyo_content ul li {
	list-style: none;
}
.global_contour #planyo_content input {
	border: none !important;
}

/* MENU HAUT */
#bs-example-navbar-collapse-1 li.menu-head-user {
	text-align: center;
	border:1px solid #c33932;
	padding: 5px 15px 0 15px;
	display: inline-table;
	margin-top:-5px;
}
#bs-example-navbar-collapse-1 li.menu-head-user div {
	margin-top:-9px;
}
#bs-example-navbar-collapse-1 li.menu-head-user a {
	display: block;
	padding:0;
}
#bs-example-navbar-collapse-1 li.menu-head-user a:hover {
	border-bottom: none;
	color:#c33932;
}

#bs-example-navbar-collapse-1 li.menu-head-search input {
	padding: 5px 0 0 0;
	width:140px;
	font-size:11px;
	border:none !important;
}
#bs-example-navbar-collapse-1 li.menu-head-search {
	width:170px;
	border-bottom: 1px solid #c33932 !important;
	text-align: left;
}
#bs-example-navbar-collapse-1 li.menu-head-search #menu-head-search-sub {
	width:22px;
	border:none !important;
	padding:0;
	margin:0;
	height: 22px;
}

/* Affichage ol */
ol li {
	list-style: decimal;
}

ul.legende_map_3D li {margin-top: 0; list-style: none;}


/* Formulaire de connexion */
.formConnexion .btn {color:#000;}

/*.region-content {margin-top:150px;}*/

/* DESIGN GENERAL FORMULAIRE RECHERCHE - ROUGE */
.form-general-recherche {
	margin-bottom:40px !important;
}
.form-general-recherche .form-champs-recherche input {
	border: 1px solid #c33932;
	padding:5px;
}
.form-general-recherche .form-champs-recherche input.txtRechForm {
	width:250px;
}
.form-general-recherche .form-champs-recherche input.subForm, .form-general-recherche .form-champs-recherche input.resetForm {
	background-color: #c33932;
	color:#FFF;
	text-transform:uppercase;
}
.form-general-recherche button.btn-actus-tri {
  border: 1px solid #000;
	padding:0 5px;
	font-size:13px;
	background:none;
	margin-right:5px;
}
.form-general-recherche button.btn-actus-tri-sel {
	border: 1px solid #c33932 !important;
	color:#c33932 !important;
}
.form-general-recherche select {
  border: 1px solid #000;
	width:250px;
}
.filtre-sel {color:#c33932;}
.form_mshb li {
	margin-left: 0em !important;
	margin-top: 0em !important;
	list-style: none !important;
	padding-bottom: 0.3em !important;
}

/* DESIGN GENERAL FORMULAIRE RECHERCHE - BLEU #005dac */
.form-general-recherche-bleu {
	margin-bottom:40px !important;
}
.form-general-recherche-bleu .form-champs-recherche input {
	border: 1px solid #005dac;
	padding:5px;
}
.form-general-recherche-bleu .form-champs-recherche input.txtRechForm {
	width:250px;
}
.form-general-recherche-bleu .form-champs-recherche input.subForm, .form-general-recherche-bleu .form-champs-recherche input.resetForm {
	background-color: #005dac;
	color:#FFF;
	text-transform:uppercase;
}
.form-general-recherche-bleu button.btn-actus-tri {
  border: 1px solid #000;
	padding:0 5px;
	font-size:13px;
	background:none;
	margin-right:5px;
}
.form-general-recherche-bleu button.btn-actus-tri-sel {
  border: 1px solid #005dac;
	color:#005dac;
}
.form-general-recherche-bleu select {
  border: 1px solid #000;
	width:250px;
}

/* ACTUALITES */
.page-actualites-mshb {
	/*font-family: 'Lato',sans-serif;*/
	font-family: campton_regular;
	font-size:15px;
}

.blocTelAlign {
  display:block;
  width:85%;
  margin: 0 auto;
  text-align:left !important;
  /*border: 1px solid gray;*/
}

/*.page-actualites-mshb #formactus {
	margin-bottom:40px !important;
}
.page-actualites-mshb #formactus .form-champs-recherche input {
	border: 1px solid #c33932;
	padding:5px;
}
.page-actualites-mshb #formactus .form-champs-recherche input.txtRechForm {
	width:250px;
}
.page-actualites-mshb #formactus .form-champs-recherche input#subActusForm, .page-actualites-mshb #formactus .form-champs-recherche input#resetActusForm {
	background-color: #c33932;
	color:#FFF;
	text-transform:uppercase;
}
.page-actualites-mshb #formactus button.btn-actus-tri {
  border: 1px solid #000;
	padding:0 5px;
	font-size:13px;
	background:none;
	margin-right:5px;
}*/
.bloc-actus-single-texte img {
	float:left;
	padding: 11px 20px 15px 0;
}
.page-actualites-mshb #formactus button.btn-actus-tri-sel {
  background-color:#c33932;
	color:#FFF;
}
.bloc-actus-liste {
	margin-bottom:45px;
}
.bloc-actus-liste .actus-liste-txt {
	margin-bottom:15px;
	font-family: lora_regular;
}
.bloc-actus-liste #image_bandeau {
	float:left;
}
.bloc-actus-liste .image_bandeau_type-1 {
	width:100%;
  padding-bottom:15px;
}
.bloc-actus-liste .image_bandeau_type-0 {
	max-width:50%;
	padding-right: 15px;
	padding-bottom:15px;
  padding-top:4px;
}
.bloc-actus-liste-suite {
	color:#FFF;
	background-color:#c33932;
	padding: 3px 5px;
	margin-top:10px;
	font-family: campton_regular !important;
  float:right;
}
.bloc-actus-liste-lien {
	color:#c33932 !important;
	margin-top:10px;
	text-decoration: underline;
}
.page-actualites-mshb  .actus-liste-date {
	text-align:center;
	margin-bottom:15px;
}
.page-actualites-mshb  .actus-liste-date span {
	border-bottom: 1px solid #c33932;
	padding-bottom:5px;
}
.page-actualites-mshb  .actus-liste-titre {
	font-size:18px;
	font-weight:bold;
  text-align:center;
}
.page-actualites-mshb  .actus-liste-type {
  text-align:center;
}
.page-actualites-mshb  .actus-liste-partage {
  text-align:center;
}

.page-actualites-mshb  .actus-liste-pagination {
	margin-top: 40px;
  text-align:center;
	font-weight:bold;
	font-size:24px;
}
.page-actualites-mshb  .actus-liste-pagination a {
	color:#c33932;
	padding: 0 15px;
}
.bloc-actus-ordre,.bloc-actus-ordre:focus {
	border:none;
  outline: none;
}
.page-actualites-mshb .bloc-labo-list-adresse p, .page-actualites-mshb .bloc-labo-list-resp p, .page-actualites-mshb .bloc-labo-list-effectifs p{
	text-align:center !important;
}
.page-actualites-mshb .bloc-labo-list-adresse li, .page-actualites-mshb .bloc-labo-list-resp li, .page-actualites-mshb .bloc-labo-list-effectifs li{
	list-style: none !important;
}
.page-actualites-mshb .bloc-labo-list-adresse a, .page-actualites-mshb .bloc-labo-list-resp a, .page-actualites-mshb .bloc-labo-list-effectifs a{
	/*background: url(../img/pictos/picto-lien-pt.png) 0 0 no-repeat;*/
	padding-left: 25px;
	font-family: campton_regular;
	color: #BF2228;
}

/* ANNUAIRES */
.container_header_annuaire {
	height: 480px;
	opacity: 0;
	animation: fadeIn .2s ease-in 0s 1 normal forwards;
	position: relative;
	padding-top: 150px;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto 0 auto;
	background-color: #e19c98;

}
.container_header_annuaire .fil_ariane {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 12px;
	color: #fff;
	background-color: #e19c98;
}
.container_header_annuaire h2 {text-align:center;color:#FFF;}
.container_header_annuaire p {text-align:center;color:#FFF;}

.container_header_annuaire .color-titre-labo {
	top: 210px;
}
/* ANNUAIRES CHERCHEURS*/

.menu_haut_annuaire_sel {

}

.bloc-chercheur-list img {
	text-align:center;
	/*padding: 0 30px 30px 30px;*/
}
.bloc-chercheur-list {
	text-align:center;
  line-height:26px;
}
.bloc-chercheur-list a:hover {
	color:#BF2228;
}
.container-chercheur-single .row {
   margin-bottom:60px;
	font-family: campton_regular;
}

.container-chercheur-single a {
   color:#BF2228;
}
.bloc-chercheur-list a:hover {
	text-decoration:underline;
}
.bloc-cherch-single {
	text-align:center;
}
.global_contour .bloc-cherch-single ul li {
	text-align:left;
  margin-left: 15px;
}
.global_contour .bloc-cherch-single ul {
  margin-left: 15px;
}
.bloc-cherch-single a {
	color:#000;
}

/* ANNUAIRES LABOS */

.intro_form_mshb span {
	padding: 10px 0 0 0;
	display:block;
}



.container-labo-single .row {
   margin-bottom:60px;
}
.container-labo-single a {
   color:#BF2228;
}
.container-labo-single a:hover {
	text-decoration:underline;
}
.container-labo-single h3 {
	text-align: center;
}
.bloc-labo-list img {
	text-align:center;
	padding: 0;
}
.bloc-labo-list {
	text-align:center;
}
.bloc-labo-list a:hover {
	color:#BF2228;
}
.color-titre-labo {
	color:#FFF;
	background-color:#BF2228;
	/*padding:2px 5px;*/
}
.color-titre-labo-head {padding:2px 5px;}
.bloc-labo-list-plugin,.bloc-labo-list-resp,.bloc-labo-list-adresse,.bloc-labo-list-effectifs,.bloc-labo-list-pagi {
	text-align:center;
	line-height:26px;
}
.bloc-labo-list-plugin p,.bloc-labo-list-resp p,.bloc-labo-list-adresse p,.bloc-labo-list-effectifs p,.bloc-labo-list-pagi p {
	font-family: campton_regular !important;
  text-align:center;
}

.bloc-labo-list-adresse p, .bloc-labo-list-resp p, .bloc-labo-list-effectifs p {
  display: block;
  width: 85%;
  margin: 0 auto;
  text-align: left !important;
}
.bloc-labo-list-pagi a {
	text-transform:uppercase;
}
.bloc-labo-list-plugin a {
	padding:5px 10px;
	background-color:#BF2228;
	color:#FFF;
}
.bloc-fiche-labo-web {
	background-color:#000;
	color:#FFF !important;
	padding: 5px 10px;
}

.legende-labo-list ul li {list-style: none;}
.legende-labo-list a.type-sel {color:#BF2228;}
/* MEDIAS */
.medias-liste-titre {
	font-weight:bold;
}
.medias-liste-titre a:hover {
	color:#c33932;
}
.bloc-medias-liste-suite {
  color:#c33932;
	text-decoration:underline;
  float:right;
  padding-top:5px;
}
.bloc-medias-single-date {
	margin-bottom:35px;
}
.bloc-medias-single-date span {
	width:200px;
	border-bottom:1px solid #BF2228;
	padding-bottom:10px;
}
.bloc-list-liens ul li {
	background-color:red;
	list-style: none;
	background: url("../img/pictos/picto-lien.png") 0 3px no-repeat;
	padding: 0 0 0 25px;
	text-align: left;
}
.page-medias-mshb .actus-liste-pagination {
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
.medias-liste-image {
	border: 1px solid #DDDDDD;
	width: 100%;
	min-height: 100px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.1) !important;
}
.medias-liste-image .tag {
	position: absolute;
	left: 40%;
	top: 35%;
	z-index: 1000;
}

.blocTelecharger a, .blocTelecharger a:hover {
	background: url('../img/pictos/picto-lienext-pt.png') 0 0 no-repeat;
	padding-left: 25px;
	font-family: campton_regular;
	color: #BF2228 !important;
}

/* AGENDA */
.bloc-agenda-liste {
	margin-bottom: 45px;
}
.agenda-liste-titre {
	font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.agenda-liste-pole {
	text-align: center;
  margin-bottom: 15px;
	font-family: campton_regular;
}
.agenda-liste-pole span {
	border-bottom: 1px solid #c33932;
  padding-bottom: 5px;
}
.agenda-liste-type {
	text-align: center;
  margin-bottom: 15px;
	font-family: campton_regular;
}
.agenda-liste-date {
	background-color:#db8884;
	color:#FFF;
  text-align: center;
	padding: 35px 15px;
  margin-top:4px;
}
.agenda-liste-date-passe {
	background-color:#999999;
}
.agenda-liste-date .bloc-agenda-liste-jour {
	font-size:36px;
}
.agenda-liste-date .bloc-agenda-liste-mois {
	font-size:24px;
}
.agenda-liste-txt {
	margin-bottom:15px;
}
.agenda-liste-mensuel {
	margin-bottom:30px;
  margin-top:30px;
}
.bloc-agenda-single-pole {
	text-align: center;
  margin-bottom: 15px;
	font-family: campton_regular;
}
.bloc-agenda-single-type {
	font-family: campton_regular;
}
.bloc-agenda-single-pole span {
  border-bottom: 1px solid #c33932;
  padding-bottom: 5px;
}

/* POLES */
ul.poles-menu {
	text-align:center;
	margin-bottom:45px;
	/*display:inline-block;*/
}
.poles-menu li {
	/*float:left;*/
	display:inline-block;
	border:1px solid #005dac;
  	padding:2px 5px;
}
.poles-menu li a {
	font-family: campton_regular;
	color:#005dac;
}
.poles-menu li a:hover {
	color:#000;
}
.color_plateforme .poles-menu li {
	border: 2px solid #FFD52D;
}
.color_plateforme .poles-menu li a {
	color: #000000;
}
.color_mshb .poles-menu li {
	border:1px solid #4A8A78;
}
.color_mshb .poles-menu li a {
	color:#4A8A78;
}
.pole-single {
	margin-bottom:120px;
}
.pole-single h2 {
	text-align:center;
	font-size:42px;
	min-width:400px;
}
.page-poles-recherche-mshb .container_titre {
	width: 100%;
	margin-top: 80px;
}
.page-poles-recherche-mshb h2[id^="pole"] {display: initial;}
.pole-single h3 {
	text-align:center;
}

.pole-single-responsable {
	text-align:center;
	margin-top:20px;
	font-size:12px;
	min-height:220px;
}
.pole-single-responsable img {
	display:initial;
	/*padding-bottom:10px;*/
}
.pole-single-responsable a.lien-resp {
	font-weight:bold;
	/*text-decoration:underline;*/
  font-family: campton_regular;
}
.pole-single-responsable a.lien-resp:hover {
	/*color:#005dac;*/
}
.btn-link {
	margin-top:20px;
}
.btn-link a {
  color:#FFF;
  font-family: campton_regular;
	padding:8px 10px 5px 10px;
  background-color:#005dac;
}

.page-poles-recherche-mshb .slider-projet h2 {
	font-size: 14px;
}
.slider-projet .bloc-projets-liste-suite {
	line-height:1.1em;
	font-size:1.1em;
}

/* PLATEFORMES */
.btn-plateforme a {
	background-color: #FFD52D;
	color:#000;
	display: block;
	text-align: center;
}
.bloc-com-titre a {
	font-weight:bold;
}
.bloc-com-embed .share-uhb {
  margin-bottom: 20px;
}
.bloc-com-embed iframe {
	width: 100%;
	height: 100%;
}
.btn-outils-medias {
	margin-top:15px;
	margin-bottom:35px;
}
.btn-outils-medias a {
	background-color: #FFD52D;
	color:#000;
	padding:5px 10px;
	margin-bottom:20px;
  font-family: campton_regular;
}
.pole-single .container_titre p {
	margin:0 !important;
}
/* PROJETS */
.page-projets-mshb .form_mshb button {
	border-color: #005dac;
	color: #005dac;
}
.page-projets-mshb .form_mshb button:hover {
	background: #005dac;
	color:#FFF;
}
.page-projets-mshb .btn-projets-tri-sel {
	background-color: #005dac !important;
	color: #FFF !important;
}

.page-projets-mshb .select_orderBy {
	background: #fff !important;
	font-size: 12px !important;
	color: #666 !important;
	border: none !important;
	width: initial;
	-webkit-rtl-ordering: logical;
}

.page-projets-mshb .form_mshb .form-champs-recherche input {
	border-color: #005dac;
}
.page-projets-mshb .form_mshb .form-champs-recherche input.subForm, .page-projets-mshb .form-general-recherche .form-champs-recherche input.resetForm{
	background-color:#005dac;
}

.btn-projets-tri-sel {
	background-color:#c33932 !important;
	color:#FFF !important;
}
.projet_item h2 {
	min-width:80px;
  margin-top: -1px;
}
.projet_item .bloc-projets-liste-suite {
	color:#000;
	text-decoration: none;
}
.projet_item_twitter iframe {
	min-height:250px !important;
}
.bloc-projet-encours {
	font-weight:bold;
	font-size: 0.8em;
}
.bloc-projet-mcle span a {
	color: #AAA;
	border: 1px solid #DDD;
	padding: 2px 5px;
	margin-bottom:5px;
	display: inline-block;
	font-family: campton_regular;
}
.bloc-projet-mcle span a:hover {
	color: #000;
}
.color_recherche_1 .global_contour { border-color: #028ecf;  }
.color_recherche_2 .global_contour { border-color: #00abad;  }
.color_recherche_3 .global_contour { border-color: #6a6ea9;  }
.color_recherche_4 .global_contour { border-color: #f2992f;  }
.color_recherche_5 .global_contour { border-color: #57a349;  }

.bloc_head_projet_details .container_header_annuaire {
	padding-top:0;
}
.bloc_head_projet_details .projet_header {
	height: inherit;
	padding-top:120px;
}
.bloc_head_projet_details h3 {
	font-size:22px;
	min-height: 0;
}
.bloc_head_projet_details h2 {
	color:#000;
	font-size:22px;
	min-height: 0;
}
.bloc_head_projet_details p.mytitre {
	margin-top:45px;
	color:#000;
	font-size:18px;
	font-weight:bold;
	max-width: 60%;
	margin: 45px auto 0 auto;
}
.bloc_head_projet_details p.mytitre span {
	background-color:#FFF;
	padding:5px;
}
.container-projet-single h2 {
	font-size: 16px;
	/*line-height:12px;*/
	/*margin-bottom:0;*/
}
.container-projet-single .btn-equipe a.ensavoirplus {
	border: 2px solid #000;
	background-color: #000;
}
.container-projet-single .btn-equipe a.ensavoirplus:hover {
	color:#FFF;
	text-decoration: underline;
}
.container-projet-single .liste-details {
	  /*margin-top:15px;*/
  }
.container-projet-single .liste-details-part {
	margin-top:8px;
}
.container-projet-single ul.menu-resume {
	list-style: none;
}
.container-projet-single ul.menu-resume li {
	display: inline-block;
	padding:5px 10px;
	border: 1px solid #000;
	margin-left:0;
	margin-right:5px;
}
.container-projet-single ul.menu-resume li a {
	display:block;
}
.container-projet-single ul.menu-resume li a:hover {
	color:initial;
	text-decoration: underline;
}

.color_recherche_1 .container-projet-single ul.menu-resume li { border-color: #028ecf;  }
.color_recherche_2 .container-projet-single ul.menu-resume li { border-color: #00abad;  }
.color_recherche_3 .container-projet-single ul.menu-resume li { border-color: #6a6ea9;  }
.color_recherche_4 .container-projet-single ul.menu-resume li { border-color: #f2992f;  }
.color_recherche_5 .container-projet-single ul.menu-resume li { border-color: #57a349;  }

.color_recherche_1 .container-projet-single ul.menu-resume li.noactive { background-color: #028ecf;  }
.color_recherche_2 .container-projet-single ul.menu-resume li.noactive { background-color: #00abad;  }
.color_recherche_3 .container-projet-single ul.menu-resume li.noactive { background-color: #6a6ea9;  }
.color_recherche_4 .container-projet-single ul.menu-resume li.noactive { background-color: #f2992f;  }
.color_recherche_5 .container-projet-single ul.menu-resume li.noactive { background-color: #57a349;  }

.color_recherche_1 .container-projet-single ul.menu-resume li a, .color_recherche_1 .container-projet-single .bloc-labo-list-pagi a { color: #028ecf;  }
.color_recherche_2 .container-projet-single ul.menu-resume li a, .color_recherche_2 .container-projet-single .bloc-labo-list-pagi a { color: #00abad;  }
.color_recherche_3 .container-projet-single ul.menu-resume li a, .color_recherche_3 .container-projet-single .bloc-labo-list-pagi a { color: #6a6ea9;  }
.color_recherche_4 .container-projet-single ul.menu-resume li a, .color_recherche_4 .container-projet-single .bloc-labo-list-pagi a { color: #f2992f;  }
.color_recherche_5 .container-projet-single ul.menu-resume li a, .color_recherche_5 .container-projet-single .bloc-labo-list-pagi a { color: #57a349;  }

.color_recherche_1 .container-projet-single ul.menu-resume li.noactive a,
.color_recherche_2 .container-projet-single ul.menu-resume li.noactive a,
.color_recherche_3 .container-projet-single ul.menu-resume li.noactive a,
.color_recherche_4 .container-projet-single ul.menu-resume li.noactive a,
.color_recherche_5 .container-projet-single ul.menu-resume li.noactive a { color: #FFF;  }

.container-projet-single .bloc-labo-list-pagi a {
	border:none;
}
.bloc-labo-list-pagi a {
	font-family: campton_regular !important;
}
.container-projet-single .bloc-labo-list-pagi a:hover {
	background-color:transparent;
	color:#000 !important;
}

.container-projet-single .bloc-projet-detail-resume {
	margin-top:20px;
}
.container-projet-single .bloc-projet-detail-resume p {
	padding-bottom:10px;
	font-size: 14px;
}
.container-projet-single .bloc-projet-detail-resume ul li {
	font-size: 12px;
}
.container-projet-single .bloc-projet-detail-resume ol li {
	list-style: decimal;
	font-size: 12px;
}

.container-projet-single .contenu_lie_projet p a {
	color:#000;
	text-decoration: none;
	font-weight:bold;
}
.container-projet-single .contenu_lie_actus .actus-liste-titre {
	font-size: 0.8em;
	font-weight:bold;
	margin-top:15px;
}
.container-projet-single .contenu_lie_actus .actus-liste-txt ,  .container-projet-single .contenu_lie_actus .bloc-liens-direct a{
	 /*display:none;*/
   font-family: campton_regular !important;
   font-size: 0.8em;
 }

.container-projet-single .contenu_lie_actus a.bloc-actus-liste-suite,
.container-projet-single .contenu_lie_medias a.bloc-medias-liste-suite{
	/*background-color: transparent;
	font-size: 0.8em;
	color:#000;
	text-decoration: underline;
	font-family: campton_regular !important;*/
}
.container-projet-single .contenu_lie_agenda .agenda-liste-titre-projet{
	margin-top:15px;
}
.container-projet-single .contenu_lie_agenda .agenda-liste-titre-projet a{
	 font-size: 0.8em;
	 font-weight:bold;
 }
.container-projet-single .contenu_lie_agenda .agenda-liste-txt{
	font-size: 0.8em;
}

.container-projet-single .contenu_lie_medias .medias-liste-titre-projet{
	margin-top:15px;
}
.container-projet-single .contenu_lie_medias .medias-liste-titre-projet a{
	 font-size: 0.8em;
	 font-weight:bold;
 }
.container-projet-single .contenu_lie_medias .medias-liste-txt{
	font-size: 0.8em;
}

/* RECHERCHE INTERNE */
.blocResultatRecherche {
	margin-top: 15px;
}
.blocResultatRecherche span.typeRecherche {
	font-size:0.6em;
	border:1px solid #ddd;
	padding:2px 5px;
}
.blocResultatRecherche a.lienTitreRecherche {
	color:#000;
	font-family: campton_regular;
	font-weight: bold;
}
.blocResultatRecherche a.lienTitreRecherche:hover {
	text-decoration: underline;
}
.blocResultatRecherche .resumeRecherche {
	font-size:0.8em;
	padding:5px 0 0 0;
}
.blocResultatRecherche a.lienSuiteRecherche {
	color:#c33932;
	font-size:0.8em;
	text-transform: uppercase;
	font-family: campton_regular;
}
.blocResultatRecherche a.lienSuiteRecherche:hover {
	text-decoration: underline;
}

/* RECHERCHE EXTERNE */
#imoco_search {
  margin:0 !important;
}
#imoco_query {
  border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 8px 10px 3px 10px !important;
}
#imoco_submit {
    background-color: #c33932 !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

/* MOTS CLES */
.bloc-actus-single-mc span a {
	color:#AAA;
	border: 1px solid #DDD;
	padding: 2px 5px;
}
.bloc-actus-single-mc span a:hover {
	color:#000;
	text-decoration: none;
}


/* english */
.poles-menu-en li {
	border:1px solid #4A8A78;
}
.poles-menu-en li a {
	color:#4A8A78;
}

/* contact */
.contact-menu li {
	border:1px solid #BF2228;
}
.contact-menu li:hover {
	background-color: #BF2228;
}
.contact-menu li a {
	color:#BF2228;
}

/* DIVERS - COLONNES */
.bloc-2cols {
  -moz-column-count:2;
	-moz-colum-width:50%;
	-moz-column-gap:20px;
	-webkit-column-count:2;
	-webkit-colum-width:30%;
	-webkit-column-gap:20px;
	column-count: 2;
	colum-width:50%;
	column-gap:20px;
}

/* AAP */
.bloc-pole-aap {
	height:80px;
	font-size:14px;
	text-align:center;
	font-weight:bold;
}
.bloc-app-docs p{
	font-size:14px;
}
.bloc-aap-calendrier div {
	background-color: #005dac;
	color:#FFF;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 20px auto;
	overflow: hidden;
	padding: 60px 32px 20px 32px;
	text-align: center;
}
.bloc-aap-calendrier div h4 {
	color:#FFF;
	font-size:22px;
}
.bloc-aap-calendrier div p {
	color:#FFF;
	font-size:13px;
	text-align: center;
}

/*.color_home #image_bandeau {
		border-left: 6px solid #bf2229;
    border-top: 6px solid #bf2229;
    border-right: 6px solid #bf2229;
}*/

/* PARTAGE */
.bloc-social {
	margin-top:30px;
}
.bloc-social button {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 7px 0 0px;
  border: none;
  text-indent: -30000px;
}
div.bloc-social button.rs-facebook { background: transparent url(../img/pictos/picto-partage-facebook.png) 0 0 no-repeat;}
div.bloc-social button.rs-twitter { background: transparent url(../img/pictos/picto-partage-twitter.png) 0 0 no-repeat;}
div.bloc-social button.rs-google { background: transparent url(../img/pictos/picto-partage-google.png) 0 0 no-repeat;}
div.bloc-social button.rs-print { background: transparent url(../img/pictos/picto-partage-print.png) 0 0 no-repeat;}



/* CENTRER LES COLONNES - BOOTSTRAP */
.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-table;
	float: none;
	text-align: left;
	margin-right: -4px;
	vertical-align: top;
}



/* ACCUEIL */
.container-bloc-home a.ensavoirplus {
	background: none;
	color:#c33932;
	padding:0;
	margin: 0;
	text-transform: uppercase;
	font-family: campton_regular;
	font-weight:bold;
	border:none;
	text-decoration: none;
	font-size:0.8em;
}
.container-bloc-home h3 a, .bloc-home-actus-titre a, .bloc-home-agenda-titre a, .bloc-home-recherche-titre , .medias-liste-titre a, .bloc-home-recherche-titre a, .projet_header span a {
	color:#333;
}
.node-type-contenu-accueil .container-bloc-home a.ensavoirplus {
      margin-left: 0 !important;
}
.bloc-home-actus {

}
.bloc-home-actus-titre a {
	font-family: campton_regular;
	font-weight:bold;
  font-size:14px;
}

.bloc-home-agenda {

}
.bloc-home-agenda-date {
	height:139px;
	background-color:#db8884;
	padding-top:30px;
	text-align: center;
	color:#FFF;
	font-family: campton_regular;
 }
.bloc-home-agenda-date .bloc-agenda-liste-jour {
	font-size:3em;
	line-height:0.8;
}
.bloc-home-agenda-date .bloc-agenda-liste-mois {
	display:block;
}
.bloc-home-agenda-date .bloc-home-agenda-date-lieu {
	font-size:0.8em;
}
.bloc-home-agenda-titre a {
	font-family: campton_regular;
	font-weight:bold;
  font-size:14px;
}

.bloc-home-service {

}
.bloc-home-service-img {
	/*background: url('../img/mshb_home_service.jpg') 0 0 no-repeat;*/
	height: 139px;
}
.bloc-home-service-img span {
	display: inline-block;
	margin: 0;
	padding: 0px 5px;
	line-height: 1.3em;
	padding: 5px;
	max-width: 96%;
	min-height: 2em;
	font-size: 16px;
	font-family: campton_medium;
	background: #FFF;
	color: #000;
	border: 1px solid #000;
}
.bloc-home-service-img span a {
	font-weight: bold;
}

.bloc-home-recherche {

}
.bloc-home-recherche-titre a {
	font-family: campton_regular;
	font-weight:bold;
	line-height:0.8;
}
.bloc-home-recherche-img {
	/*background: url('../img/mshb_home_recherche.jpg') 0 0 no-repeat;*/
	height: 139px;
}
.bloc-home-recherche-img span {
	display: inline-block;
	margin: 0;
	padding: 0px 5px;
	line-height: 1.3em;
	padding: 5px;
	max-width: 96%;
	min-height: 2em;
	font-size: 16px;
	font-family: campton_medium;
	background: #FFF;
	color: #000;
	border: 1px solid #000;
}
.container_header_home span.sstitre{
	position: absolute;
	top:340px;
	left:0;
	z-index: 10;
	font-family: campton_medium;
	font-size: 30px;
	height: 1em;
	text-align: center;
	color: #fff;
	display:block;
	width:100%;
	line-height:1.2;
}


/* AUTRES */
.page-annuaires-mshb #formlabos button.btn-actus-tri-selX, .page-annuaires-mshb #formcherch button.btn-actus-tri-selX {
	background: #c33932;
	color:#FFF;
}
.page-projets-mshb #formPROJETS button.btn-actus-tri-sel, .page-annuaires-mshb #formcherch button.btn-actus-tri-sel {
	background: #c33932;
	color:#FFF;
}
p a.btn-reserver-services {
	border: 2px solid #4A8A78 !important;
	padding:3px 8px 1px 8px !important;
	font-family: campton_regular;
	color:#4A8A78;
}
p a.btn-reserver-services:hover {
	background-color:#4A8A78;
	color:#FFF;
}
/* pagination lien */
.pagi-current-page {
	font-family: campton;
	margin-top: 20px;
	font-size: 14px;
	color: #000;
	/*border: 3px solid #c33932;
	background-color: #c33932;*/
	padding: 3px 5px 2px 5px;
	margin-top: 20px;
	display: inline-block;
}
iframe {
	min-height: 80px;
}

/* LIENS */
a.liensite, a.liensite:hover {
/*	background: url('../img/pictos/picto-lien-pt.png') 0 0 no-repeat;*/
  font-family: campton_regular;
  color:#BF2228;
}
a.liensite:before, a.liensite:hover:before{
content: "\e072";
font-family: 'Glyphicons Halflings';
margin-right: 5px;
color: #000;
}

a.liensiteext, a.liensiteext:hover {
	background: url('../img/pictos/picto-lienext-pt.png') 0 0 no-repeat;
	padding-left:25px;
  font-family: campton_regular;
  color:#BF2228;
}

/* TIMELINE */
.bloc-timeline iframe {
	height:650px !important;
}


/* AAP */
.color_recherche .panel {
    border: 2px solid #005dac;
}
.color_recherche input {
  border: none !important;
}
.color_recherche .btn-aap:hover {
  background-color:#FFF;
  color:#005dac;
}
.color_recherche .btn-aap-add {
  margin-top: 30px;
  background-color:#FFF;
  color:#BF2228;
  border: 2px solid #BF2228 !important;
}
.color_recherche .btn-aap-add:hover {
  background-color:#BF2228;
  color:#FFF;
}
input[type="file"] {
  min-height:60px;
}

#edit-submitted-webform-intention-signature-du-responsable-scientifique-upload-button--3, .btn-default {
  background-color:#333;
  color:#FFF !important;
}

.table-liste-aap {
  width:100%;
  background-color:#005dac;
  /*padding:1px;*/
}

table.table-liste-aap tr td{background-color: #FFF;padding:1px;}

table.table-liste-aap tr.rbg th,table.table-liste-aap tr.rbg td {
    text-align:center;
    background-color: #FFFFFF;
    padding:5px 3px;
}
table.table-liste-aap tr.rbg th {
  color:#FFF;
  background-color: #005dac;
}
table.table-liste-aap input {
  margin-bottom: 5px;
  background-color:transparent;
  border-bottom:1px solid #005dac !important;
}

table.table-liste-aap input:hover {
  color:#005dac;
}

.color_recherche .webform-client-form input {
    border: 1px solid #005dac !important;
}
.color_recherche .panel-heading, .panel-default > .panel-heading {
  background-color: #005dac;
}
.color_recherche .webform-submit.btn{
  background-color: #005dac !important;
}
.color_recherche #edit-retour.btn, .btn-retour.btn {
	color: #005dac !important;
	border: 2px solid #005dac !important;
}
.color_recherche #edit-retour.btn {
	color: #FFFFFF !important;
	background-color: #c33932 !important;
	border: none !important;
	float:right;
}

.ui-helper-hidden-accessible {display:none;}

.page-node fieldset.webform-submission-info,
.page-node .webform-submission-navigation {
	display:none;
}

/* DIAPORAMA */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list
{
	background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('./fonts/slick.eot');
	src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 50%;

	display: block;

	width: 20px;
	height: 20px;
	margin-top: -10px;
	padding: 0;

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
	opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;

	opacity: .75;
	color: white;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
	left: -25px;
}
[dir='rtl'] .slick-prev
{
	right: -25px;
	left: auto;
}
.slick-prev:before
{
	content: 'Acâ? Â';
}
[dir='rtl'] .slick-prev:before
{
	content: 'Acâ? â?T';
}

.slick-next
{
	right: -25px;
}
[dir='rtl'] .slick-next
{
	right: auto;
	left: -25px;
}
.slick-next:before
{
	content: 'Acâ? â?T';
}
[dir='rtl'] .slick-next:before
{
	content: 'Acâ? Â';
}

/* Dots */
.slick-slider
{
	margin-bottom: 30px;
}

.slick-dots
{
	position: absolute;
	bottom: -45px;

	display: block;

	width: 100%;
	padding: 0;

	list-style: none;

	text-align: center;
}
.slick-dots li
{
	position: relative;

	display: inline-block;

	width: 10px;
	height: 10px;
	margin: 0 5px;
	padding: 0;
	background-color: #FFF;
	border:1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}
.slick-dots li button
{
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	opacity: 1;
}
/*.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'Acâ,Âc';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
.slick-dots li.slick-active button:before
{
	opacity: .75;
	color: black;
	/*background-color: red;*/
}

/** DIAPORAMA **/
.slider-projet, .slider-projet .slick-list {
	max-height: 250px;
}
.slider-projet .slick-slide{outline:none;}
.slider-projet ul.slick-dots {
	margin:0;
	list-style:none;
	background:none;
	width:100%;
	text-align:center;
	position: initial;
}
.slider-projet ul.slick-dots li {
	margin:0 5px 0 0;
	list-style:none;
	background-color:#FFF;
	padding:0 5px 0 0;
	display:inline-block;
}
.slider-projet ul.slick-dots li.slick-active {
	background-color:#000;
}

/* LIENS */
.liste_color_link li a{ font-size: 14px; font-family: campton_regular;     border: 2px solid #4A8A78; border-top: none; display: inline-block;  padding: 2px 7px 0 5px; margin:0px; line-height: 1.4em; color: #fff;     background: #4A8A78;   }
.liste_color_link li a:hover{ background: #fff; color: #4a8a78 }

/* FORMULAIRES */
.webform-submit.btn, #edit-submit {color:#fff;background-color: #337ab7;border-color: #2e6da4;}
#edit-retour.btn, .btn-retour.btn, #edit-cancel {color:#fff;background-color: #ccc;border-color: #ccc;}


/* HOME TWITTER */
.bloc-home-news iframe {
  border:none !important;
}
.bloc-home-news iframe #embedded, #embedded {
  box-shadow:none !important;
}

/* Return on top */
#returnOnTop {
    background: url('../img/pictogramme_retour_en_haut_de_page-pt3.png') no-repeat;
    bottom: 1%;
    cursor: pointer;
    display: none;
    height: 50px;
    position: fixed;
    right: 3%;
    width: 51px;
    opacity:0.5;
    z-index:100000;
}

#returnOnTop:hover {
    opacity:1;
}

.container_header .sstitre img {
	position:initial;
	width:initial;
}

/* SALLES */
#planyo_content {
	padding: 50px 0;
}
.planyo .resource_right_container {
	width: 27%;
}
.planyo #reservation_code {
	width:600px;
	margin: 0 auto;
}
#reservation_header .reservation_steps {
	float: none;
	text-align: center;
}
#reservation_code .calendar_prev {
	max-width: 1000px;
}
.language {
	margin-left: 200px;
}
.planyo iframe {border:none;}
#price_info_div_sticky_right {
	background-color: #FFF;
	opacity: 1;
	height: 150px;
	padding-top: 0;
	top: 350px;
	border: 2px solid #BF2228;
	border-radius: 25px;
}
.global_contour #planyo_content input#submit_button {
	border: 2px solid #BF2228 !important;
	border-radius: 10px;
}

/* RESPONSIVE */

@media only screen and (max-width: 800px) {
.container_header_home span.sstitre {
  top:170px;
  font-size:20px;
}
}


@media only screen and (max-width: 450px) {
.container_header_home span.sstitre {
    top: 120px;
    font-size: 1em;
}
}



/** VERSION IMPRESSION **/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after {
    content: none !important;
  }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  
  .node-type-page .field-item {
		border-left: none;
	  border-right: none;
	}

a:link:after, #content a:visited:after {
  content: "";
  font-size: 90%;
  }
a {text-decoration:none;}

  /* Affichage du logo responsive*/

  
  .tabs--primary, #sidebar, #navbar, #returnOnTop {display:none !important;}
  #extended_logo {display:block !important;}
  #logo-print {display:block !important;text-align:center;}
  
  
}


/** LIENS RESPONSIVES **/
#bottomsidebar {display:none;}
@media only screen and (max-width: 1050px){
	.navbar-right {
		top: 31px;
		padding-top:0;
	}
	.navbar-right li {
		height:18px;
	}
	.navbar-left a {
		margin-right: 5px;
	}
}

@media only screen and (max-width: 768px){
  #bottomsidebar {
    display:block;
    position:fixed;
    bottom:0;
    text-align:center;
    background-color:#eee;
    width:100%;
    padding:10px 0 5px 0;
    z-index:1000;
    border-top: 1px solid #ccc;
  }
  #bottomsidebar a {
    margin-right:10px;
  }
  .nonVisibleResponsive { display:none; }
}

#imoco_search #imoco_submit {
background-color: #c33932 !important;
}

.file-upload-js-error {color:red;}    


/* WEBFORM */
.webform-client-form {
	display: block;
}

.webform-container-inline label {
	display: block;
	width: initial;
	margin: 0.5em auto 0 auto;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	margin-right: 10px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	position: initial;
}

.webform-container-inline.webform-component-file .help-block {
	display: inline-block;
	float:left;
	margin-top:-20px;
	font-size:12px;
	font-style:italic;
	width: 100%;
}
.webform-container-inline.webform-component-file .help-block a {
	display: none;
}
.webform-component-file .help-block {
	/*display: none;*/
}
.webform-client-form .form-actions {
	width:50%;
	float: left;
}
.panel-heading, .panel-default>.panel-heading {
	font-size:initial;
}
.color_recherche .webform-client-form .has-error .control-label {
	color:initial;
}

.color_recherche .webform-client-form .has-error .form-control {
	border-color: #005dac;
 }

/* SLICK PROJET */
.page-projets-mshb .slick-prev:before, .page-projets-mshb .slick-next:before {
	color: #005dac !important;
	font-size: 35px;
}
.page-projets-mshb .slick-prev, .page-projets-mshb .slick-next {
	top: 30% !important;
}
.page-projets-mshb .slick-prev {
	left: -35px !important;
}
.page-projets-mshb button.slick-arrow {
	border: 2px solid transparent !important;
}
@media (max-width: 800px){
	.page-projets-mshb .slick-prev {
		left: 0 !important;
		z-index: 100;
	}
	.page-projets-mshb .slick-next {
		right:0 !important;
		z-index: 100;
	}
}
