/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: 'Lato',sans-serif;
  font-size:15px;
  background-color:#EEE;
}
.main-container {
	/*background: url('../img/fond-site.png') 0 0 repeat-y #FFF;**/
	background-color: #FFF;
	/*margin:0 15px;*/
	padding-bottom:25px;
	border-left:15px #EEE solid;
	border-right:15px #EEE solid;
}
/** HEADER **/

#logo-site-responsive {display:none;}

.header-menu  #block-search-form {
  margin-left:0;
  z-index:10;
}

.header-menu {
  padding-right:20px;
  text-transform:uppercase;
}
.header-menu ul {
  list-style:none;
  padding:0;
}
.header-menu ul li {
  border-bottom: 1px solid #FFF;
  padding: 3px;
  text-align:right;
}
.header-menu ul li a {
  color:#FFF;
  font-size:11px;
}
.header-menu ul li a:hover {
  color:#11284b;
  text-decoration:none;  
}
.header-menu form {
  /*border:1px solid #FFF;*/
}
#block-block-3 .contextual-links-wrapper{display:none;}
.navbar #block-search-form {float:none;}
.header-menu form .form-control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 0 12px 0 12px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #FFF;
  text-transform:uppercase;
  vertical-align: baseline;
  background-color: transparent;
  background-image: none;
  border: 1px solid #FFF;
  border-radius: 0;
  transition: none;
  font-size:10px;
  text-transform:none;
}
.header-menu form .btn {
  display: block;
  padding: 1px 5px;
  height:20px;
  width:40px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #FFF;
  border-radius: 0;
} 

.header-menu form ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
.header-menu form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
.header-menu form ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}
.header-menu form :-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #FFF;
}

#navbar {
  margin-top:0;
  margin-bottom:0;
  padding:0;
  border:none;
  background-color:#008cbc;
  border-radius: 0;
}
/* MENU */
.menu li a,.menu li a:link {
  text-transform:uppercase;
}
.navbar-default .navbar-nav>li>a {
  color:#FFF;
  padding-left:20px;
  padding-right:20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav li:hover, .navbar-default .navbar-nav li.active {
  color:#11284b;
  background-color:#FFF;

}

.navbar-collapse nav ul {
  width:100%;
  background-color:#11284b;
}

ul li.collapsed, ul li.expanded, ul li.leaf {
  padding: 0 0;
  font-size: 16px;
}
ul.navbar-nav li.last {

}

/* Désactivation sous menu */
.menu li.expanded .caret {display:none;}

/** CONTENU **/
.main-container {
  /*margin-bottom:25px;*/
}
.main-container .row section {

}
.fond tr {
  /*padding: 3px 5px;  
  vertical-align:top;*/ 
}
.fond h2{
  margin-top:5px;
}

.fond td {
	/*padding-right: 25px !important;*/
	padding-bottom: 10px !important;
}

.fond c2 {
	vertical-align:top !important;
}

/** ACCUEIL **/
.bloc-accueil-agenda {
  background-color:#008cbc;
  height:350px;
  text-align:center;
  padding: 60px 40px 0 40px;
}
.bloc-accueil-agenda .views-field-field-dates {
  font-size:22px;
  color:#FFF;
  text-transform:uppercase;
}
.bloc-accueil-agenda .views-field-title a {
  color:#FFF;
  font-size:26px;  
  text-transform:uppercase;
  font-weight:bold;
}
.bloc-accueil-agenda .views-field-title {
  margin: 0 20px 10px 20px;
  padding: 0 10px 5px 10px;
  border-bottom:3px solid #FFF;
}
.bloc-accueil-agenda .views-field-title a:hover {text-decoration:none;color:#11284b;}
.bloc-accueil-agenda .views-field-body {
  color:#FFF;
  text-transform:uppercase;
  font-size:16px;
  margin: 0 0 10px 0;
} 
.bloc-accueil-agenda .voir, .bloc-accueil-agenda .complet {
  width:170px;
  margin: 0 auto;
  padding:5px;
  border:1px solid #11284b;
  text-transform:uppercase;
  font-weight:bold;
}
.bloc-accueil-agenda .voir a, .bloc-accueil-agenda .complet a {
  text-decoration:none;
}
.bloc-accueil-agenda .voir,.bloc-accueil-agenda .voir a {
  color:#008cbc;
  background-color:#11284b;
}
.bloc-accueil-agenda .complet a {
  color:#11284b;
}
.bloc-accueil-agenda a:hover {color:#FFF;}
/* LISTE */
.view-display-id-agenda_liste .views-row {
  margin-bottom:30px;
}
.view-display-id-agenda_liste .views-field-field-dates {
  font-weight:bold;
}
/* SINGLE */
.node-article .field-name-field-image {
  float:right;
  padding: 0 0 15px 15px;
}
.node-article .field {
  margin-bottom:15px;
}
.node-article .date-display-single {
  font-weight:bold; 
}
/* Filtre */
.region-menu-second form {
  padding: 20px 0 0 15px;
}
.region-menu-second form input,.region-menu-second form select {
  border-radius:0px;
  padding:0;
  height:25px;
  width:100%;
}
/* Archives */
#block-block-5 p {
  padding: 0 0 0 15px;
  margin: 10px 0 0 0;
}



.bloc-accueil-projet {
  /*background-color:#ffd400;*/
  
  height:350px;
}
.bloc-accueil-projet #vscc_controls_previous_accueil_contenus-bloc_projet_en_cours {
  display:block;
  width:40px;
  height:50px;
  float:left;
  margin-top:-200px;
  z-index:100;
  position:relative;
  background:url('../img/fleche_g.png') 10px no-repeat;
}
.bloc-accueil-projet #vscc_controls_previous_accueil_contenus-bloc_projet_en_cours a,.bloc-accueil-projet #vscc_controls_next_accueil_contenus-bloc_projet_en_cours a {width:100%;display:block;height:100%;}
.bloc-accueil-projet #vscc_controls_previous_accueil_contenus-bloc_projet_en_cours a img,.bloc-accueil-projet #vscc_controls_next_accueil_contenus-bloc_projet_en_cours a img{visibility: hidden;}
.bloc-accueil-projet #vscc_controls_next_accueil_contenus-bloc_projet_en_cours {
  display:block;
  width:40px;
  height:50px;
  float:right;
  margin-top:-200px;
  z-index:100;
  position:relative;
  background:url('../img/fleche_d.png') 0 0 no-repeat; 
}
.bloc-accueil-projet .views-field-title {
  text-align:center;
  margin: 0 auto;
  width:100%;
  position:absolute;
  top:150px;
  height:50px;
}
.bloc-accueil-projet .views-field-title a {
  font-size:24px;
  font-weight:bold;
  color:#11284b;  
}
.bloc-accueil-projet .views-field-title a:hover {
  text-decoration:none;
  color:#008cbc; 
}
.bloc-accueil-projet .projet_voir {
  background-color: #11284b;
  position: relative;
  bottom: 36px;
  padding: 5px 10px 10px 10px;
  text-align:center;
  margin: 0 auto;
  width:50%;
}
.bloc-accueil-projet .projet_voir a {
  color:#FFF;
  text-transform:uppercase;
}
.bloc-accueil-projet .projet_voir a:hover {
  color:#008CBC;
  text-decoration:none;
}

/* PLATEFORMES */
.bloc-accueil-infos {
  background-color:#11284b;
  height:400px;
  text-align:center;
  padding: 80px 60px 0 60px;
}
.bloc-accueil-infos .views-field-title a {
  color:#FFF;
  font-size:22px;
  padding: 0 0 5px 0x;
  text-transform:uppercase;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
}
.bloc-accueil-infos .views-field-title a:hover {
  color:#008cbc;
}
.bloc-accueil-infos .views-field-title {
  margin: 0 0 10px 0;
  text-align:center;
}
.bloc-accueil-infos .views-field-body {
  color:#FFF;
  text-transform:uppercase;
}

 /* ACTUS */
.bloc-accueil-actus {
  background-color:#FFF;
  border: 12px solid #008cbc;
  height:400px;
  padding: 20px 10px;
  text-align:center;
  color:#008cbc;
  overflow:hidden;
}
.bloc-accueil-actus .more-link {display:none;}
.bloc-accueil-actus h2 {
  text-transform:uppercase;
  margin-bottom:0;
}
.bloc-accueil-actus ul {
  margin:10px 0 0 0;
  padding:0;
  list-style:none;
}
.bloc-accueil-actus ul li {
  margin-bottom:10px;
}
.bloc-accueil-actus ul li .title-post {
  line-height:16px;
  padding-bottom:5px;
}
.bloc-accueil-actus ul li .title-lien {
  font-size:12px;
  text-transform:uppercase;
}
.bloc-accueil-actus ul li .title-resume {
  font-size:13px;
  line-height:14px;
  padding-bottom:5px;
}

.bloc-accueil-actus ul li a {
  font-weight:bold;
}

.actus-toutes {
  background-color: #008cbc;
  padding: 15px 0 10px 0;
  margin-top:-46px;
  text-align:center;
}
.actus-toutes a {
  color:#FFF;
  text-transform:uppercase;
}
.actus-toutes a:hover {
  text-decoration:none;
  color:#11284b;
}

/* PUBLICATIONS */
.bloc-accueil-publications {
  background-color:#FFF;
  border:12px solid #11284b;
  height:400px;
  padding:20px 10px;
  text-align:center;
}
.bloc-accueil-publications h2 {
  text-transform:uppercase;
  font-size:26px;
  font-weight:bold;
  color:#11284b;
}
.bloc-accueil-publications .views-field-title {
  margin:10px auto;
  width:80%;
}
.bloc-accueil-publications .views-field-title a {
  text-transform:uppercase;
  color:#11284b;
  text-decoration:none;
  font-weight:bold;
}
.bloc-accueil-publications .views-field-body {
  width:85%;
  margin:0 auto;
  line-height:16px;
}
.bloc-accueil-publications .more-link a {
  color:#11284b;
  text-transform:uppercase;
  font-size:11px;
  font-weight:bold;
}
.bloc-accueil-publications .bloc-texte {
  height:260px;
  overflow:hidden;
}
.bloc-accueil-publications .bloc-toutes {
  background-color:#11284b;
  position:relative;
  bottom:6px;
  padding:15px 0 10px 0;
  margin: 0 -10px;
}
.bloc-accueil-publications .bloc-toutes a {
  display:block;
  color:#FFF;
  text-transform:uppercase;
}
.bloc-accueil-publications .bloc-toutes a:hover {
  text-decoration:none;
  color:#008cbc;
}
/* PUBLICATIONS - SINGLE */
.node-publication .field-name-field-image img {
  float:right;
  padding: 0 0 15px 15px;
}

/* CONTENUS INTERNE */
.bloc-interne h1 {
  color:#11284b;
  font-size:26px;
  font-weight:bold;
  text-transform:uppercase;
}
.bloc-interne h2 {
  margin-bottom: 5px;
  line-height:14px;
}
.bloc-interne h2 a,.bloc-interne h2 {
  color:#11284b;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
}

#block-menu-block-1 {
	background-color:#11284b;
}

.well {
	background-color:#11284b;
}

.menu a {
	color:white;
}

.menu a:hover {
	background-color:white !important;
	color:#11284b;
}

.menu a.active {
	background-color:white !important;
	color:#11284b;
}

.menu a.active-trail {
	background-color:white !important;
	color:#11284b !important;
}

.views-field-field-pole a {
	font-weight:bold;
}

.view-display-id-agenda_liste .views-field-field-image {
	width:230px; 
	height:175px;
	float:left;
}

.view-display-id-agenda_liste .views-field-field-dates {
	/*width:230px; 
	height:175px;*/
	float:left;
	margin-right: 5px;
}

.view-display-id-agenda_liste .views-field-title {
	/*width:230px; 
	height:175px;
	float:right;*/
	margin-bottom:5px;
}

.view-display-id-agenda_liste .views-field-field-pole {
	font-weight:bold;
}

.view-display-id-agenda_liste .views-field-body {
	float: right;
    width: 500px; 
	margin-bottom: 5px;
}

.view-display-id-agenda_liste .views-field-field-image  img{
	width:200px;
}

#block-block-2 ul {
	padding-left:0;
}

#block-block-2 {
	width:330px
}

#block-block-1 {
	margin-left:5px;
}

.col-sm-5{
	
	width: 42.66%;
}

.col-sm-4{
	padding:0;
}

.col-sm-4 .bloc-accueil-infos{
	margin-right: 15px;
}

.col-sm-4 .bloc-accueil-actus{
	margin-right: 15px;
}

.col-sm-4 .actus-toutes{
	margin-right: 15px;
}

.col-sm-4 .bloc-accueil-publications{
	margin-right: 5px;
}

.row {
	padding-bottom:15px !important;
}

.col-sm-7{
	padding-right:0;
	width: 55.5%;
	padding-left:0;
}

.main-container {
	padding-top:15px !important;
	padding-bottom:0 !important;
}

#views_slideshow_cycle_main_accueil_contenus-bloc_projet_en_cours {
	height: 346px !important;
}

.row {
	
}


/*.bloc-interne h2 a{
  color:#fff;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  background-color:#11284b; 
  padding:5px;
}*/

/*.bloc-interne h2 a:hover{
  color:#11284b;
  font-size:16px;
  font-weight:bold;
  text-transform:uppercase;
  background-color:#fff; 
  padding:5px;
}*/

/** PIED DE PAGE **/
.footer {
  border:none;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
  font-size:12px;
}
.footer a:hover {text-decoration:none;}

.footer .row {
  background-color:#11284b;
  border-top:7px solid #008cbc;
  color:#FFF;
  padding:30px 0 15px 0;
  min-height:80px;
}

.footer .footer-logo img {
  margin:5px;
  /*padding-left:15px;
  width:100%;*/
}



.footer .footer-liens ul {
  list-style:none;
}
.footer .footer-liens ul li {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  margin-top:-1px;
  padding: 3px;
}
.footer .footer-liens ul li a {
  color:#FFF;
  font-size:11px;
  text-transform:uppercase;
}
.footer .footer-liens ul li a:hover {
  color:#428bca;  
}

/* FIL D'ARIANE */
.breadcrumb {
  /*margin:0 15px 20px 15px;
  padding: 8px 25px;*/
  background-color:#008cbc;
  border-radius:0;
  color:#FFF;
}
.breadcrumb a {
  color:#FFF;
  text-transform:uppercase;
}
.breadcrumb a:hover {
  text-decoration:none;
  color:#11284b;
}
.breadcrumb>.active {
  color:#FFF;
  text-transform:uppercase;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #fff;
  content: ">\00a0";
  font-size:18px;
  font-weight:normal;
}

/** MENU ANGLAIS **/
#block-menu-menu-menu-anglais ul {
  margin: 40px 0 0 0;
}
#block-menu-menu-menu-anglais ul li a {
  text-transform:none;
  padding: 0 15px;
}
#block-menu-menu-menu-anglais ul li a.active {
  color:#11284b;
  text-decoration:underline;
}

/** ANNUAIRE **/
.view-annuaires .views-field-field-image img {
  float:left;
  padding: 0 15px 15px 0;
} 

/* RESPONSIVE */
@media screen and (max-width:1200px){
	/*.header-menu {width:100%;}*/
	.navbar-default .navbar-nav>li>a {
	  padding-left:10px;
	  padding-right:10px;
	  font-size:14px;
	}
	.bloc-accueil-infos {
		padding-left:20px;
		padding-right:20px;
	}
	.bloc-accueil-actus h2 {
		font-size:16px;
	}
	#logo-site-responsive {display:block;text-align:center;}
	#logo-site {display:none;}
}

@media screen and (max-width:1000px){
	/*.header-logo,.header-menu {display:none;}*/
	
	/*.region-haut {width:40%;margin:0 auto;}*/
	
	/* MENU */
	.navbar-default .navbar-nav>li>a {
	  padding-left:5px;
	  padding-right:5px;
	  font-size:12px;
	}
	
	/* BLOCS ACCUEIL */
	.bloc-accueil-agenda {
	  height:auto;
	  margin-bottom:15px;
	}
	.bloc-accueil-projet {
		height:auto;
	}
	.bloc-accueil-projet .projet_voir{
		width:100%;
	}
	.bloc-accueil-projet img {
		width:100% !important;
	}
	.bloc-accueil-infos {
		height:auto;
		padding: 5px 20px 5px 20px;
		margin-bottom:15px;
	}
	.actus-toutes {
		margin-bottom:15px;
		height:auto;
	}
	.bloc-accueil-publications {
		margin-bottom:15px;
		height:auto;
		padding: 20px 10px 0 10px;
	}
	.bloc-accueil-publications .bloc-toutes {
		bottom:0;
	}
	/* PIED DE PAGE */
	.footer-logo,.footer-infos {text-align:center; margin-bottom:15px;}
	.footer .footer-liens ul {padding:0;text-align:center;}
	.footer-logo img {width:100%;}
}

@media screen and (max-width:768px){
	.region-haut {width:40%;margin:0 auto;}
}