table.fond, td.fond, div.fond {}

.img-responsive {}

/* PICTOS TEL + EXT */
a.picto-tel {
  color:red
}
a.picto-ext {
  color:green;
}

/* LISTES */
ul.liste_color_link {
    
}
a.ensavoirplus {
    border: 2px solid #4A8A78;
    background-color: #4A8A78;
}

a.lien_externe {
    color:red;
}
a.telechargement {
    color:green;
    background:url('./img/pictos/picto-tel.png') 0 0 no-repeat;
    padding-left: 20px;
}